/* !!!!!!!!!!!!!!!!!!
IMPORT rules must appear at the top, before any style declaration
RULES MATCHED by ORDER in CSS file here, no 'class order'!
!!!!!!!!!!!!!!!!!!!!!!!

@@@@@@@@@@@@@@@
CSS BEGIN
--------------
TAGS
aria: accesibility labels
.class comma: matches (OR)
plus: match ADJACENT
>: match ALL children
A ~ B: match ALL elm w/ A AND B
space: nested lf to rt inside
 ::before ::after insert content before/after an element
--------------
ATTR:
Sides: top, right, bottom left
Corners: top-left, top-right, bottom-right, bottom-left
--------------
TYPES HERE:
- Tz: Domain
- Ku: Panel
- KeMe: Notify
- : Text (type)
- : Text (select)
- NiJaPo: Icon (select)
- HriNe_TraKwi: Action (button)
- Ka/VuHyHo: Bool (checkbox)
- NiGru: Enum (radio)
- HriNeVo: Number (slider)
- Gwx: Separator (line)
- : Hover(Ptr)
- : Focus(Use/Key)
- KzTy: Elm_FX(disable, fade)
--------------
RULES:
- glow: hilite/hover
- dotted: focus w/ keyboard/last-used;

@@@@@@@@@@@@@@@ */


/*@@@@@@@@@@@@@@@
SHARED
@@@@@@@@@@@@@@@*/
:root
{
	/* COLOR --------------------------*/
	--PoStz: #0000;
	--PoStzFz: #0002;
	--PoStzVo: #0008;
	--PoStzDe: #000A;
	--PoStzSpo: #000F;

	--PoKuSta: #222A;

	--PoKuHu: #0008;
	--PoKuSteVo: #4448;
	--PoKuSteSpo: #444F;

	/* Section Line */
	--PoKuStuVo: #6668;

	--PoBre: #888;
	--PoBreHu: #8884;
	--PoBreVo: #8888;
	--PoBreSpo: #888F;

	--PoTraFra: #999;
	--PoTraFre: #CCC;

	/* FONT 3D SHADE */
	--PoSmo: #777;

	--PoKuTo: #DDDE;

	--PoSi: #FFF;
	--PoSiVo: #FFF8;
	--PoSiSpo: #FFFF;

	/* ALERT */
	--PoSmuTra: #D22;
	--PoSmuSe: #2A2;
	--PoSmuSi: #DD2;
	--PoSmuSo: #22F;


	/* SIZE -------------------- */
	--GyDru_Kwe: 4ch;
	--GyDru_MoKu: 42ch;

	/* STRETCH -------------------- */
	/* Firefox <146 */
	@supports (width: -moz-available) {	--stretch: -moz-available;}
	/* Safari & Firefox 146+ */
	@supports (width: -webkit-fill-available) {	--stretch: -webkit-fill-available;}
	/* Chromium */
	@supports (width: stretch) {--stretch: stretch;	}

	/* SIZE -------------------- */
	--GyStz: 0.0rem;
	--GyBe: 0.125rem;
	--GyBo: 0.25rem;

	--GyBiHu: 0.50rem;
	--GyBiDe: 0.67rem;
	--GyBiHi: 0.75rem;

	--GyTreHu: 0.875rem;
	--GyTreDe: 1.0rem;
	--GyTreHi: 1.25rem;

	--GyDruBz: 1.33rem;

	--GyKaHu: 1.5rem;
	--GyKaDe: 2.0rem;
	--GyKaHi: 3.0rem;

	--GyBzHu: 4.0rem;
	--GyBzDe: 6.0rem;
	--GyBzHi: 8.0rem;


	/* LINES-------------------- */
	--GwxSpo: solid;
	--GwxKwo: dotted;

	/* TIMING -------------------- */
	--GiDe: 0.5s;
}


/* SEMANTIC AREAS tight PACKING ---------------- */
header
, nav
, main
, footer
{
	margin: var(--GyStz);
	padding: var(--GyStz);
}

/* ==================== */
/* ANIMATION */
/* ==================== */
.KzVo_StzDriStx{ animation:KzVo 4s }
@keyframes KzVo{0%{ opacity:0 } 67%{ opacity:50 } 100%{ opacity:1 } }

/*@@@@@@@@@@@@@@@
ANCESTOR
@@@@@@@@@@@@@@@*/
*
{
	/* content-box WIDTH/HEIGHT ignore padding, margin, & border */
	/* border-box  WIDTH/HEIGHT ignore margin only */
	box-sizing: border-box;
	overflow: hidden;

	border-radius: var(--GyStz);
	margin: var(--GyStz);
	padding: var(--GyStz);

	/* content-visibility: auto; */
	font-size: var(--GyTreDe);
	image-rendering: auto;

	color: var(--PoSiSpo);
	background-color: var(--PoStz);

	/* SLIDER & RADIO CLR	*/
	accent-color: var(--PoSmuTra);
}

/*@@@@@@@@@@@@@@@
FONT:
- BRAND(Final Frontier)
- SLAB(Industrial)
- SANS(Helvetica)
- HAND(Comic Sans)
- FLAG(Language Selection)

WGT: light: 100, normal: 400, bold: 700

- Using 'font-stack' to support FAST load via OS
- & to support 'closest per SCRIPT' style.

KyAPPL: San Francisco
SkiWIN: Segoe UI
SkiLNX: Ubuntu, Cantarell, Noto Sans
SkiDRD: Roboto
- NOTE: Roboto Condensed uses name sans-serif-condensed under Android

NEOGROTESQUE
font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, system-ui, sans-serif;

@@@@@@@@@@@@@@@*/
@font-face
{
	font-family: "Final Frontier Old Style";
	src: url( "../../Mx01__SuKz_MEDIA/SuKz04_WaDru__FNT/WaDru00__Bz.woff2" ) format('woff2');
}

@font-face
{
	font-family: "Segoe UI Emoji";
	src: url( "../../Mx01__SuKz_MEDIA/SuKz04_WaDru__FNT/WaDru01__Ku.woff2" ) format('woff2');
}

/* FACE[ 4 ] --------------------------- */
/* 00 BRAND UNIQUE */
.WaDru_BriDzDy
{
	font-family: "Final Frontier Old Style", Charcoal, Impact, "Roboto Slab", "Arial Black", sans-serif-black, sans-serif-condensed, ui-rounded, system-ui, sans-serif;
}

/* INDUSTRIAL */
/* 01 LABEL */
.WaDru_Va
/* 02 VALUE */
, .WaDru_Vu
{
	font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, system-ui, sans-serif;
}

/* 03 HANDWRITTEN */
.WaDru_JeDo
{
	font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", "Noteworthy", "Segoe Print", "Chalkboard SE", "Comic Neue", "Bradley Hand", Chilanka, TSCu_Comic, casual, sans-serif;
}

/* 04 FLAG */
.WaDru_Ku
{
	/* Originally used special font for FLAGS to show correctly @ Win11
	 *AND* No Lag on Apple
	 font-family: "Segoe UI Emoji", sans-serif; */
	font-family: "Segoe UI Emoji", sans-serif;
}

/* WEIGHT[4] --------------------------- */
/* NORMAL */
.WaDru_Vu
, .WaDru_JeDo
, .WaDru_Ku
{
	font-weight: 400;
}

/* LABEL */
.WaDru_Va
{
	font-weight: 700;
}

/* 3D FX */
.WaDru_BriDzDy
{
	font-weight: 900;
	/* 3D Shade FX skew slightly right and progressively down */

	/* text-shadow: <horizontal-offset> <vertical-offset> <blur-radius> <color>; */
    text-shadow:
		1px 1px 0 var(--PoSmo)
		, 1px 2px 0 var(--PoSmo)
		, 1px 3px 0 var(--PoSmo)
		, 1px 4px 0 var(--PoSmo)
	;
}

/*@@@@@@@@@@@@@@@
DOMAIN AREAS^Tz
- Not Panels nor Status Bars
- Fullpage or Screen as Canvas spaces
@@@@@@@@@@@@@@@*/
.Tz00__Gry
{
	left: 0dvw;
	top: 0dvh;

	width: 100dvw;
	height: 100dvh;

	/* ARIA WCAG STD */
	min-width: 320px;
}

.Tz01__SpoKz
{
	display: block;
	position: absolute;

	border-radius: var(--GyStz);
	border: none;

	color: var(--PoSiSpo);
	background-color: var(--PoKuSteSpo)
}

.Tz02__MxPo
{
	left: 0dvw;
	top: 0dvh;

	width: 100dvw;
	height: 100dvh;
}

.Tz02__MxPo__Bri
{
	left: 0dvw;
	top: var(--GyKaHu);

	width: 100dvw;
	height: calc( 100dvh - var(--GyKaHi));
}

/*@@@@@@@@@@@@@@@
PANELS^Ku
@@@@@@@@@@@@@@@*/

/* PANEL__OUTER_TOPIC */
.Ku00__KaFz
{
	display: block;
	position: absolute;
	z-index: 1;

	/* Use 1.5 instead of 3 because DBG Bars */
	left: var(--GyKaHu);
	top: var(--GyKaHi);
	border-radius: var(--GyKaHu);
	padding: var(--GyTreDe);

	/* CONSIDER 'DBG' BARS, only 'width' since Trx needs expand for centering */
	width: calc( 100dvw - var(--GyKaHi) );
	max-height: calc( 100dvh - var(--GyBzDe) );

	background-color: var(--PoStzDe);
	border: var(--GwxSpo) var(--GyBe) var(--PoBre);

	/* ALLSCROLL ALL TOPIC AREA*/
	overflow: auto;
}

/* PANEL__TITLE_BAR */
.Ku01_BzVa_GeBre
{
	display: flex;
	flex-wrap: wrap;

    justify-content: center;
    align-items: center;

	/* width: fit-content; */
	margin: var(--GyTreDe) var(--GyBo);
	padding: var(--GyBo);
}

/* PANEL_GUI ---------------------- */
.Ku01__HriNe
{
	position: relative;
	z-index: 4;

	display: block;
}

/* PANEL__MENU TABS --------------------------------- */
.Ku02__HriNzVa
{
	cursor: cell;
	background-color: var(--PoStz);
	border-radius: var(--GyStz);
	margin: var(--GyStz);

	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	place-items: var(--stretch) var(--stretch);

	/* 0 bottom to align with topic section */
	padding: var(--GyBiHu) var(--GyStz) var(--GyStz) var(--GyStz);
}

/* PANEL_ALL_DOMAIN_TOPIC_CHOICES ---------------------- */
.Ku03__TaTz
{
	border-radius: var(--GyKaHu);
	background-color: var(--PoStzVo);

	/* 0 to align with topic section */
	margin: var(--GyStz);
	padding: var(--GyStz);

	/* TL TR BR BL */
	border-radius: var(--GyStz) var(--GyStz) var(--GyKaHu) var(--GyKaHu);

	border-left: var(--GwxSpo) var(--GyBe) var(--PoSi);
	border-right: var(--GwxSpo) var(--GyBe) var(--PoSi);
	border-top: none;
	border-bottom: var(--GwxSpo) var(--GyBe) var(--PoSi);

	margin-left: var(--GyStz);
	margin-right: var(--GyStz);
}


/* PANEL__TOPIC_CHOICES ----------------------------- */
.Ku04__MoKu
{
	display: grid;
	gap: var(--GyTreDe);
	grid-template-columns: repeat( auto-fill, minmax( var(--GyDru_MoKu), 1fr ));

	overflow-y: auto;
}

.Ku05__ToKu
{
	display: inline-block;
	overflow-y: auto;
}

/* TOPIC_CHOICES__SECTION_INDEX */
.Ku06__NzTaNe
{
	display: flex;
	flex-wrap: wrap;
	vertical-align: top;

	text-align: start;
	justify-content: start;
	align-items: normal;
	overflow-y: auto;

	gap: 0;
	margin: var(--GyBo);
	padding: var(--GyBo);

	border-left: none;
	border-right: none;
	border-top:  var(--GyBe) var(--GwxSpo)var(--PoKuSteSpo);
	border-bottom: none;

	color: var(--PoBre);
	background-color: var(--PoKuSta);
	border-radius: var(--GyTreDe);
}

/* AREA__VERSION */
.Ku07__ToSkeHu
, .Ku07__ToSkeDe
, .Ku07__ToSkeHi
{
	display: flex;
	flex-wrap: wrap;

	margin: var(--GyBe);
	padding: var(--GyBe);
}

/*@@@@@@@@@@@@@@@
NOTIFY^KeMe
@@@@@@@@@@@@@@@ */
/* STATUS BAR */
.KeMe_De
{
	cursor: help;
	left: 0dvw;
	width: 100dvw;
	height: var(--GyKaHu);

	text-align: start;
	justify-content: start;
	align-items: center;

	font-size: var(--GyTreHi);
}

/* TOP/BOTTOM STATUS BAR PLACEMENT */
.KeMe_Bz
{
	top: 0dvh;
}

.KeMe_Bo
{
	top: calc(100dvh - var(--GyKaHu));
}

/* TOOLTIP BUBBLE TEXT */
.KeMe_To
, .KeMe_ToKeDru
{
	font-size: var(--GyTreHu);
	white-space: pre-wrap;

	color: var(--PoKuSteSpo);
}

/* TOOLTIP BUBBLE BOX */
.KeMe_To
{
	cursor: help;
	position: relative;
	overflow: visible;
	text-align: center;

	padding: var(--GyBiHu);
	margin: var(--GyBiHu);


	width: fit-content;
	height: fit-content;
	min-width: var(--GyBzHi);
	border-radius: var(--GyKaHu);

	background-color: var(--PoKuTo);
	opacity: 1.0;
}

/* TOOLTIP TRIANGLE GUIDE */
.KeMe_To::before
{
	content: " ";
	position: absolute;

	padding: var(--GyStz);
	margin: var(--GyStz);

	/* use 0 for width/height to make border diagonal for triangle */
	width: var(--GyStz);
	height: var(--GyStz);
	border-radius: var(--GyStz);
	border-style: var(--GwxSpo);

	/* Triangle Size & Location */
	border-width: var(--GyBiHu);
	inset-inline-start: var(--GyKaHu);
	/* -2.0 * Self Border-Width */
	inset-block-end: -1.0rem;

	/* Top Border ONLY faces down */
	border-color: var(--PoKuTo) transparent transparent transparent;
}


/*@@@@@@@@@@@@@@@
TEXT
@@@@@@@@@@@@@@@*/

/* TEXT__MENU_TITLE --------------------------------- */
.NzVa_TraKz
{
	display: flex;
    justify-content: center;
    align-items: center;
	white-space: pre-wrap;

	width: var(--stretch);


	padding: var(--GyBiHu);
	margin: var(--GyStz);
	margin-top: var(--GyTreDe);

	color: var(--PoTraFra);
	background-color: var(--PoKuSteVo);

	border: var(--GwxSpo) var(--GyBe) var(--PoSi);
	border-radius: var(--GyKaHu) var(--GyKaHu) 0 0;

	transition: var(--GiDe);
}

/* TEXT__MENU_SELECTED */
.NzVa_Se_TraKz
{
	font-size: 1.125rem;
	color: var(--PoSi);
	background-color: var(--PoKuHu);

	outline: none;
	box-shadow: 0 -0.5em var(--GyBiHu) var(--PoTraFra);

	transition: var(--GiDe);
	border-bottom:none;
}

/* TEXT__CHOICE_ITEMS--------------------------------------------- */

/* TEXT__LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align: start;

	color: var(--PoSi);

	padding: var(--GyBo) var(--GyTreDe);
	margin: var(--GyBo) var(--GyStz);

	background-color: var(--PoStzFz);
}


/* TEXT__LIST_ELEMENTS */
.HriNeTi
/* TEXT__TYPING_INPUT */
, .KeDru_MiPo
, .HriNe_Tra
{
	display: inline-flex;
	text-align: start;

	margin: var(--GyBo) var(--GyBe);
	padding: var(--GyBo) var(--GyTreDe);

	color: var(--PoSi);
	background-color: var(--PoKuSteSpo);

	border-radius: var(--GyKaHu);
	border: var(--GwxSpo) var(--GyBe) var(--PoSi);
}

/* TEXT__BTN */
.HriNe_Tra
{
	text-align: center;
	margin: var(--GyBo);
	padding: var(--GyBo) 0.75rem;
}

/* TEXT__DOCUMENT HEADER */
.KeDruBz
{
	font-size: var(--GyDruBz);
}

/* TEXT__SECTION */
.KeDruNz
{
	font-size: var(--GyTreHi);

	margin: var(--GyBe);
	padding: var(--GyBe);
}

/* TEXT__DOCUMENT BODY */
.KeDruBa, .KeDruSkx
{
	font-size: var(--GyTreHu);
	white-space: pre-wrap;
	max-width: calc( 100% - var(--GyTreDe) );

	margin: var(--GyBiHu);
	padding: var(--GyBiHu);

	background-color: var(--PoKuHu);
	overflow-y: auto;
}


/* TEXT__DOCUMENT COLUMNS */
.KeDruSkx
{
	/* Requires BLOCK */
	column-rule: 0.25em var(--GwxKwo) var(--PoKuSta);
	column-width: var(--GyDru_MoKu);
	column-gap: var(--GyDru_Kwe);
}


/* TEXT__TITLE_WORDSIZE */
.BriDz_FzVa
{
	font-size: var(--GyKaHi);
	text-align: center;
	margin: var(--GyStz) var(--GyBo);
}

/* TEXT__DEFAULT_WORDSIZE */
.BriDz_DeVa
{
	font-size: var(--GyTreDe);
	white-space: pre-wrap;
	text-align: center;
	margin: var(--GyBo) var(--GyBo);
}


/* TEXT__INFO_SMALL */
.BriDz_ToGyHu
{
	display: block;
	margin: var(--GyBe);
	padding: var(--GyBiDe);

	font-size: var(--GyBiDe);
	text-align:start;

	color: var(--PoTraFre);
}

/* TEXT__DBG ERR */
.BriDz_TrxKz
{
	font-size: var(--GyKaHu);
	text-align: center;
}

/* TEXT_GOAL__VERTICAL*/
.BriDz_Sz
{
	display: flex;
	font-size: var(--GyBiHi);
	padding: var(--GyBe);

	width: fit-content;
	height: fit-content;

	writing-mode: sideways-lr;
	text-orientation: sideways;
}


/*@@@@@@@@@@@@@@@
IMAGES
@@@@@@@@@@@@@@@*/

/* DEFAULT_ICONS --------------------------------------*/

/* 2x2 MD */
.JaPo__Va
, .JaPo__Va_Kwu
{
	height: var(--GyKaDe);
	margin: var(--GyBo);
	padding: var(--GyStz);
}

/* 2x2 MD */
/* ROUNDED EDGE */
.JaPo__Va_Kwu
{
	/* filter: invert(100%); */
	background-color: var(--PoKuTo);
	border-radius: var(--GyBiHu);
	padding: var(--GyBe);
}

/* 4x4 LG */
.JaPo__GyBzHu
/* ROUNDED EDGE */
, .JaPo__GyBzHu_Kwx
{
	position: relative;
	height: var(--GyBzHu);
	margin: var(--GyBo);
	padding: var(--GyStz);
}

.JaPo__GyBzHu_Kwx
{
	border-radius: var(--GyKaHu);
	border: var(--GwxSpo) var(--GyBe) var(--PoSiSpo);
}


/*@@@@@@@@@@@@@@@
SPRITE GRID
@@@@@@@@@@@@@@@*/

/* SPRITE ZONE */
.TaJaPo_HryKu
{
	display: inline-flex;
	flex-wrap: wrap;

	margin: var(--GyTreDe) var(--GyBiHu);
	padding: var(--GyStz);
}

/* SPRITE CURRENT IMAGE */
.NiJaPo_Fe
{
	display: inline-flex;
	place-items: center center;
	text-align: center;

	font-size: var(--GyBzDe);
	width: auto;
	height: var(--GyBzHi);

	margin: var(--GyBo);
	padding: var(--GyBo);
}

.NiJaPo_Trx
{
	display: block;
	place-items: center center;
	text-align: center;

	font-size: var(--GyBzDe);
	width: auto;
	height: var(--GyBzHi);

	margin: var(--GyBo);
	padding: var(--GyBo);
}

/* SPRITE SELECTOR BOX */
.NiJaPo_NeKu
{
	display: inline-flex;
	flex-wrap: wrap;

	border-radius: var(--GyStz);
	border: var(--GwxSpo) var(--GyBe) var(--PoBreSpo);

	height: var(--GyBzHi);

	overflow-y: auto;

	margin: var(--GyBo);
	padding: var(--GyStz);
}

/* SPRITE LIST */
.NiJaPo_Va
{
	font-size: 1.925rem;
	margin: 0.075rem;
	padding: var(--GyStz);
	background-color: var(--PoStz);

	border-radius: var(--GyBo);
}

/* FLAG NOT READY */
.NiJaPo_VaRu
{
	filter: brightness( 25% );
}

 /* FLAG AVAILABLE */
.NiJaPo_VaGri
{
	padding: var(--GyBe);
}

.NiJaPo_VaGri:Hover
{
	background-color: var(--PoSi);
	transition: var(--GiDe);
}

/* OVERLAY EXACT*/
.NiJaPo_To
{
	position: absolute;
	text-align: center;

	margin: var(--GyStz);
	padding: var(--GyStz);
	left: var(--GyStz);
	right: 100%;
	top: var(--GyStz);
	bottom: 100%;
}

 /* EMOJI to GRAYSCALE */
.NiJaPo_VaVo
{
	padding: var(--GyBe);
	filter: grayscale( 80% );
}

.NiJaPo_VaVo:Hover
{
	filter: grayscale( 0% );

	background-color: var(--PoSi);
	transition: var(--GiDe);
}

/*@@@@@@@@@@@@@@@
BTN SUBMIT ===> LAUNCH BTN RED
@@@@@@@@@@@@@@@*/
.HriNe_TraKwi
{
	font-size: var(--GyKaHu);
	background-color: var(--PoSmuTra);

	width:fit-content;
	min-width: 16.0rem;
	margin: var(--GyBo) var(--GyBiHu);
	padding: var(--GyBo);

	border-radius: var(--GyKaHu);
	border: var(--GwxSpo) var(--GyBe) var(--PoSi);

	transition: var(--GiDe);
}

/* BTN SUBMIT HOVER BG Po ==> GREEN */
.HriNe_TraKwi:hover
{
	/* GLOW */
	font-size: var(--GyKaDe);
	box-shadow: 0 0 var(--GyTreDe) var(--PoSmuSe );
	background-color: var(--PoSmuSe);
	transition: var(--GiDe);
}

/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/

/* CONTAINER INPUT special CSS */
.KaHyHo .MzHyHo
{
	width: var(--GyStz);
	height: var(--GyStz);
	opacity: var(--GyStz);

	margin: var(--GyStz);
	padding: var(--GyStz);
}

/* CHECKBOX AREA */
.KaHyHo
{
	display: inline-block;
	position: relative;
	overflow: visible;

	width: var(--GyKaHi);
	height: var(--GyKaHu);

	border-radius: var(--GyKaHu);
	transition: var(--GiDe);
}

/* BAR PART GREY of CHECKBOX */
.VuHyHo
{
	position: absolute;

	top: var(--GyStz);
	left: var(--GyStz);
	right: var(--GyStz);
	bottom: var(--GyStz);

	height: var(--GyKaHu);
	margin: var(--GyStz);
	padding: var(--GyStz);

	border-radius: var(--GyKaHu);
	background-color: var(--PoKuStuVo);

	transition: var(--GiDe);
}

/* CIRCLE PART (WHITE/RED) of CHECKBOX */
.VuHyHo:before
{
	position: absolute;

	content: "";

	left: var(--GyStz);
	bottom: var(--GyStz);
	width: var(--GyKaHu);
	height: var(--GyKaHu);

	background-color: var(--PoTraFre);
	border-radius: var(--GyKaHu);

	transition: var(--GiDe);
}

/* CHECKBOX RED BG */
.MzHyHo:checked + .VuHyHo
{
	background-color: var(--PoSmuTra);
	transition: var(--GiDe);
}

/* FOCUS SLIDE ON/OFF */
.MzHyHo:checked + .VuHyHo:before
{
	transform: translateX( var(--GyKaHu) );
	transition: var(--GiDe);
}

/*@@@@@@@@@@@@@@@
RADIO GROUP
@@@@@@@@@@@@@@@*/

/* FIELDSET */
.NiGruKu
{
	margin: var(--GyBo);
	padding: var(--GyBo);
	border: var(--GwxSpo) var(--GyBe) var(--PoBreHu);
}

.NiGruVa
{
	margin: var(--GyBo);
	padding: var(--GyBo);

	color: var(--PoSiSpo);
	background-color: var(--PoStz);
	border-radius: var(--GyTreDe);

	transition: var(--GiDe);
}

.NiGruTi
{
	margin: var(--GyBo);
	padding: var(--GyBo);

	background-color: var(--PoStz);
	transition: var(--GiDe);
}

/*@@@@@@@@@@@@@@@
SLIDER
@@@@@@@@@@@@@@@ */
.HriNeVo
{
	display: inline-flex;
	text-align:center;

	margin: var(--GyBe);
	padding: var(--GyBe);

	border-radius: var(--GyTreDe);
	border: none;

	color: var(--PoSiSpo);
	background-color: var(--PoStz);

	transition: var(--GiDe);
}


/*@@@@@@@@@@@@@@@
SECTION LINE
@@@@@@@@@@@@@@@*/
hr
{
    display: block;
	border-radius: var(--GyTreDe);

	width: 100%;

	border-left: none;
	border-right: none;
	border-bottom: var(--GwxSpo) var(--GyBe) var(--PoKuStuVo);
	border-top: none;

    margin: var(--GyStz);
    padding: var(--GyStz);
	/* Small Pad for curve */
    padding-bottom: var(--GyBiHu);
}


/*@@@@@@@@@@@@@@@
HOVER GLOW
@@@@@@@@@@@@@@@*/

.HriNeVo:hover
, .NiGruVa:hover
{
	box-shadow: 0 0 var(--GyTreHu) var(--PoSi);
	transition: var(--GiDe);
}

.TreHy:hover
{
	box-shadow: 0.0 0 var(--GyTreDe) var(--PoSi);
	transition: var(--GiDe);
}

.KaHyHo:hover
{
	box-shadow: 0 0 var(--GyKaHu) var(--PoSi);
	transition: var(--GiDe);
}

/* TEXT__MENU_TITLE---HOVER PTR  */
.NzVa_TraKz:hover
{
	font-size: var(--GyTreHi);
	outline: none;
	box-shadow: 0 -0.5em var(--GyTreDe) var(--PoTraFre);
	transition: var(--GiDe);
}

/*@@@@@@@@@@@@@@@
FOCUS DOTTED OUTLINE
@@@@@@@@@@@@@@@*/

  .NzVa_TraKz:focus
, .NzVa_Se_TraKz:focus
, .TreHy:focus
, .HriNe_TraKwi:focus
, .HriNeVo:focus
, .NiGruVa:focus
, .MzHyHo:focus + .VuHyHo
{
	outline: dotted var(--GyBe) var(--PoSi);
}

.NzVa_TraKz:focus
.NzVa_Se_TraKz:focus
{
	font-size: var(--GyTreHi);
}

/*@@@@@@@@@@@@@@@
ELM_FX
@@@@@@@@@@@@@@@*/

/* CHOICE PLAN ----------------- */
.HriNe_Sz
{
	display: inline-flex;
	overflow: visible;
	align-items: center;
}

/* ELM__NOT_IN_USE ------------------ */
.HriNe_TraHo
{
	cursor: not-allowed;

	color: var(--PoSiSpo);
	background-color: var(--PoSmuTra);
}
/* ELM__FADED__NOT_IN_USE */
.HriNe_HryHo
{
	cursor: not-allowed;

	color: var(--PoKuHu);
	background-color: var(--PoBreVo);

	filter: blur( 4px );
	/* filter: brightness( 25% ); */

	transition: var(--GiDe)
}

.HriNe__SmoTy
{
	display:none;
}

/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
