@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* IMPORT rules must appear at the top, before any style declaration */
/* @@@@@@@@@@@@@@@
CSS BEGIN

3 DIVs as 'SCREENs'
MxPo_Bri
MxPo_Kwi
MxPo_Trx

@@@@@@@@@@@@@@@ */
*
{
	box-sizing: content-box;

	border-radius: 1.5em;
	margin: 0.25em;
	padding: 0.25em;
}

.SpoJy
{
	border-radius: 0.0em;
	margin: 0.0em;
	padding: 0.0em;

	display: block;
	position: absolute;

	font-size: 1.0em;
	color: rgb(255, 255, 255);
	background-color: rgb( 64, 64, 64 );
}

/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/
.WaDru_Bz
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.WaDru_Ka
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

/* INPUT TEXT CLRS */
.KeDru_MiPo
{
	color: rgb(255, 160, 0 );
 	background-color:rgb(96,96,96)
}

/*@@@@@@@@@@@@@@@
ICONS
@@@@@@@@@@@@@@@*/
.GwzHu{	zoom: 0.5;}
.GwzHi{	zoom: 2.0;}

/* B&W ICONS */
.GwzDoVo, .GwzDo
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo03__GwzDoVo.png);
	background-color:transparent;
	background-repeat:no-repeat;

	margin: 0.0em;
	padding: 0.0em;
	border-radius: 0.0em;

	height: 108px;
	width: 108px;
}

/* CLR ICONS */
.GwzDoPo, .GwzDo:hover
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo02__GwzDoPo.png);
	background-color:transparent;
	background-repeat:no-repeat;

	margin: 0.0em;
	padding: 0.0em;
	border-radius: 0.0em;

	height: 108px;
	width: 108px;
}

/* ROW 0 */
.GwzDo_WIN, .GwzDo_WIN:hover{ background-position: 0px 0px;}
.GwzDo_IOS, .GwzDo_IOS:hover{ background-position: -108px 0px;}
.GwzDo_MAC, .GwzDo_MAC:hover{ background-position: -216px 0px;}
.GwzDo_DRD, .GwzDo_DRD:hover{ background-position: -324px 0px;}

.GwzDo_LNX, .GwzDo_LNX:hover{ background-position: -432px 0px;}
.GwzDo_ESRB, .GwzDo_ESRB:hover{ background-position: -540px 0px;}
.GwzDo_PEGI, .GwzDo_PEGI:hover{ background-position: -648px 0px;}
.GwzDo_GDPR, .GwzDo_GDPR:hover{ background-position: -756px 0px;}

/* ROW 1 */
.GwzDo_CCPA, .GwzDo_CCPA:hover{ background-position: 0px -108px;}
.GwzDo_SPIRV, .GwzDo_SPIRV:hover{ background-position: -108px -108px;}
.GwzDo_VK, .GwzDo_VK:hover{ background-position: -216px -108px;}
.GwzDo_CURL, .GwzDo_CURL:hover{ background-position: -324px -108px;}


/* ROW 2 */
.GwzDo_BULLET, .GwzDo_BULLET:hover{ background-position: 0px -216px;}

/* ROW 3 */
.GwzDo_VIVANTE, .GwzDo_VIVANTE:hover{ background-position: 0px -324px;}
.GwzDo_NET, .GwzDo_NET:hover{ background-position: -108px -324px;}
.GwzDo_SECURITY, .GwzDo_SECURITY:hover{ background-position: -216px -324px;}
.GwzDo_GLOBAL, .GwzDo_GLOBAL:hover{ background-position: -324px -324px;}

.GwzDo_STORAGE, .GwzDo_STORAGE:hover{ background-position: -432px -324px;}
.GwzDo_SPEED, .GwzDo_SPEED:hover{ background-position: -540px -324px;}
.GwzDo_BATTERY, .GwzDo_BATTERY:hover{ background-position: -648px -324px;}
.GwzDo_PLUG, .GwzDo_PLUG:hover{ background-position: -756px -324px;}


/*@@@@@@@@@@@@@@@
AREA
CANVAS
@@@@@@@@@@@@@@@*/
.KuJy
{
	left: 0dvw;
	top:0dvh;
	width: 100dvw;
	height: 100dvh;
}

.MxPo
{
	left: 0dvw;
	top: 1.5em;
	width: 100dvw;
	height: calc( 100dvh - 3.0em);

	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
.KeMe_Bz
{
	left: 0dvw;
	top: 0dvh;
	width: 100dvw;
	height: 1.5em;
}

.KeMe_Bo
{
	left: 0dvw;
	top: calc(100dvh - 1.5em);
	width: 100dvw;
	height: 1.5em;
}

/*@@@@@@@@@@@@@@@
DBG
@@@@@@@@@@@@@@@*/
.YzKeDru
{
	font-size: 1.5em;
}

/* DEBUG TXT */
.TrxKz
{
	font-size: 1.5em;
	text-align:center;
}

/*@@@@@@@@@@@@@@@
PANELS
@@@@@@@@@@@@@@@*/

/* PANEL__OUTER-TOPIC */
.Ku00__NzKwa
{
	display: block;
	position: absolute;
	z-index: 1;

	left: 4em;
	top: 4em;
	width: calc( 100dvw - 8em );
	height: calc( 100dvh - 8em );

    overflow: auto;

	border-radius: 1.5em;
	border: 0.125em solid rgb( 255, 255, 255 );
	background-color: rgb( 0, 0, 0, 0.5 );
}

/* PANEL__TITLE_BAR */
.Ku01_GxStx_GaSta
{
	display: grid;
	place-items: center;
	align-items: center;

}

/* PANEL__INNER_TOPIC ---------------------- */
.Ku02__NzKwa
{
	position: relative;
	z-index: 4;

	border-radius: 1.5em;
	border: 0.125em solid rgb( 255, 255, 255 );

	background-color: rgb( 0, 0, 0, 0.5 );
}

/* PANEL__INNER_TOPIC_WIDE */
@media (min-aspect-ratio: 1/1)
{
	.Ku02__NzKwa
	{
		display: block;
	}
}

/* PANEL__INNER_TOPIC_TALL */
@media (max-aspect-ratio: 1/1)
{
	.Ku02__NzKwa
	{
		/* display: block; */
		display: grid;
		/* 2 columns */
		grid-template-columns: 25% 75%;
	}
}

/* PANEL__MENU TABS --------------------------------- */
/* PANEL__MENU TABS WIDE */
@media (min-aspect-ratio: 1/1)
{
	.Ku03__HriNzVa
	{
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-evenly;
	}
}

/* PANEL__MENU TABS TALL */
@media (max-aspect-ratio: 1/1)
{
	.Ku03__HriNzVa
	{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 14%;

	}
}

/* PANEL__TOPIC_CHOICES ----------------------------- */
/* PANEL__TOPIC_CHOICES WIDE */
@media (min-aspect-ratio: 1/1)
{
	.Ku03_NeKu
	{
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}
}

/* PANEL__TOPIC_CHOICES TALL */
@media (max-aspect-ratio: 1/1)
{
	.Ku03_NeKu
	{
		display: grid;
		grid-template-columns: 25% 75%;
	}
}

/* PANEL__TOPIC_TEXT */
.Kwi03_KeDru
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* PANEL__TOPIC_ */
.Kwi04_
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*@@@@@@@@@@@@@@@
TEXT
@@@@@@@@@@@@@@@*/

/* TEXT_TITLE_BAR */
.BriDzVa
{
	font-size: 2.0em;

	display: inline-flex;
	text-align:center;
	/* PREVENT LINE WRAP */
	white-space:nowrap;

	/* DBG
	background-color: rgb( 255, 0, 0, 1. ); */
}

/* APP_VERSION */
.BriDzDa
{
	display: block;
	text-align:center;
	margin: 0.0em;
	padding: 0.0em;
	color: rgb( 192, 192, 192 );
}

/* MENU_TITLE --------------------------------- */
.HriNzVa
{
	text-align:center;
	font-weight:bold;

	color: rgb( 255, 255, 255 );
	background-color: rgb( 64, 64, 64 );

	display: block;
}

/* MENU_TITLE WIDE */
@media (min-aspect-ratio: 1/1)
{
	.HriNzVa
	{
		width: 14.28%;
	}
}

/* MENU_TITLE TALL */
@media (max-aspect-ratio: 1/1)
{
	.HriNzVa
	{
		width: 100%;
	}
}

.HriNzVa:hover
{
	color: rgb( 0, 0, 128 );
	background-color: rgb( 255, 255, 255  );
}

/* MENU_HILITE */
.HriNzVa_Se
{
	color: rgb( 0, 0, 128 );
	background-color: rgb( 255, 255, 0  );
}

/* CHOICE_BODY */
.NeKuVa
{
	text-align:left;
}

/* FEATURE LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align:left;

	color: rgb(255, 255, 255 );
}

/* LIST ELEMENTS */
.HriNeTi
{
	display: inline-flex;
	text-align:left;

	color: rgb(255, 255, 255 );
}


/*@@@@@@@@@@@@@@@
ELEMENTS
@@@@@@@@@@@@@@@*/

/* IMAGE LOGO */
.Kwi00__BriDzJaPo
{
	/* display: block; */
	position: relative;
	z-index: 2;

	left: 0.0em;
	width: calc( 100% - 1.0em );
	height: 6.0em;

	border-radius: 1.5em;
	border: 0.125em solid rgb( 255, 255, 255 );
}

/* BTN SUBMIT ===> LAUNCH BTN RED */
input[type=submit]
{
	display: inline-flex;
	position: relative;

	width: calc( 100% - 1.0em );
	height: 2.5em;

	border-radius: 1.5em;
	border: 0.1em solid rgb( 255, 255, 255 );
	background-color: rgb( 192, 32, 32 );

	font-size: 1.25em;
	text-align: center;
}
/* HOVER BG Po ==> GREEN */
input[type=submit]:hover
{
	background-color: rgb( 32, 160, 32 );
}

/* TYPING INPUT_TXT */
input[type=text], select
{
	display: inline-flex;
	width: 12em;

	border-radius: 1.5em;
	border: 0.125em solid rgb( 255, 255, 255 );

	background-color: rgb( 0, 0, 0, 0.5 );
}

/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/
.KaHyHo input
{
	opacity: 0;
	width: 0;
	height: 0;

	border-radius: 0.0em;
	margin: 0.0em;
	padding: 0.0em;
}

.KaHyHo
{
	position: relative;
	display: inline-block;
	width: 3.0em;
	height: 1.5em;
}

/* ELLIPSE BAR BG SHP */
.VuHyHo
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 1.5em;

	border-radius: 0.0em;
	margin: 0.0em;
	padding: 0.0em;

	background-color: rgb( 192, 192, 192 );
	transition: 0.5s;
	border-radius: 1.5em;
}

/* CIRCLE INDICATOR */
.VuHyHo:before
{
	position: absolute;
	content: "";

	width: 1.5em;
	height: 1.5em;

	left: 0.0em;
	bottom: 0.0em;

	background-color: white;
	transition: 0.5s;
	border-radius: 50%;
}

input:checked + .VuHyHo
{
	background-color: rgb( 192, 32, 32 );
}

input:focus + .VuHyHo
{
	/* GLOW */
	box-shadow: 0 0 1.0em rgb( 255, 255, 255 );
}

input:checked + .VuHyHo:before
{
	transform: translateX( 1.5em );
}


/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
