@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Raleway:ital,wght@0,400..900;1,400..900&display=swap');

/* !!!!!!!!!!!!!!!!!!
IMPORT rules must appear at the top, before any style declaration
!!!!!!!!!!!!!!!!!!!!!!!
*/
/* --------------
NOTE:
Sides: top, right, bottom left
Corners: top-left, top-right, bottom-right, bottom-left
--------------
*/
/* @@@@@@@@@@@@@@@
CSS BEGIN

3 DIVs as 'SCREENs'
MxPo_Bri
MxPo_Kwi
MxPo_Trx

@@@@@@@@@@@@@@@ */
*
{
	/* content-box WIDTH/HEIGHT ignore padding, margin, & border */
	/* border-box  WIDTH/HEIGHT ignore margin only */
	box-sizing: border-box;
	border-radius: 1.5rem;
	margin: 0.25rem;
	padding: 0.25rem;

	font-size: 1.0rem;
}


/*@@@@@@@@@@@@@@@
ICONS
@@@@@@@@@@@@@@@*/
.GwzHu{	zoom: 0.5;}

/* CLR ICONS */
.GwzDoPo
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo02__GwzDoPo.png);
	background-color:transparent;
	background-repeat:no-repeat;

	margin: 0.0rem;
	padding: 0.0rem;
	border-radius: 0.0rem;

	height: 108px;
	width: 108px;
}

/* ROW 0 */
.GwzDo_WIN { background-position: 0px 0px;}
.GwzDo_IOS { background-position: -108px 0px;}
.GwzDo_MAC { background-position: -216px 0px;}
.GwzDo_DRD { background-position: -324px 0px;}
.GwzDo_LNX { background-position: -432px 0px;}

.GwzDo_ESRB { background-position: -540px 0px;}
.GwzDo_PEGI { background-position: -648px 0px;}
.GwzDo_GDPR { background-position: -756px 0px;}
.GwzDo_CCPA { background-position: 0px -108px;}

.GwzDo_BULLET { background-position: 0px -216px;}

.GwzDo_NET { background-position: -108px -324px;}
.GwzDo_SECURITY { background-position: -216px -324px;}
.GwzDo_GLOBAL { background-position: -324px -324px;}

/* ROW 3 */
.GwzDo_STORAGE { background-position: -432px -324px;}
.GwzDo_SPEED { background-position: -540px -324px;}
.GwzDo_BATTERY { background-position: -648px -324px;}
.GwzDo_PLUG { background-position: -756px -324px;}

/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/
.WaDru_SmuHi
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.WaDru_Bz
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.WaDru_Ka
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.WaDru_Py
{
	font-family: "Noto Color Emoji", sans-serif;
	font-weight: 400;
	font-style: normal;
}


/*@@@@@@@@@@@@@@@
AREA TYPES
( Not Panels nor Status Bars )
 ( Fullpage or Screen as Canvas spaces )
@@@@@@@@@@@@@@@*/
.KuJy00__Gry
{
	left: 0dvw;
	top: 0dvh;

	width: 100dvw;
	height: 100dvh;

	overflow: hidden;
}

.KuJy01__SpoKz
{
	box-sizing: content-box;
	margin: 0.0rem;
	padding: 0.0rem;

	display: block;
	position: absolute;

	border-radius: 0.0rem;
	border: none;

	color: #FFFF;
	background-color: #444F
}

.KuJy02__MxPo
{
	left: 0dvw;
	top: 1.5rem;

	width: 100dvw;
	height: calc( 100dvh - 3.0rem);

	overflow: hidden;
	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
.KeMe_De
{
	left: 0dvw;
	width: 100dvw;
	height: 1.5rem;
	text-align: left;
	place-items: center center;

	font-size: 1.25rem;
}

.KeMe_Bz
{
	top: 0dvh;
}

.KeMe_Bo
{
	top: calc(100dvh - 1.5rem);
}

/*@@@@@@@@@@@@@@@
PANELS
@@@@@@@@@@@@@@@*/

/* PANEL__OUTER_TOPIC */
.Ku00__NzKwa
{
	display: block;
	position: absolute;
	z-index: 1;

	/* Use 1.5 instead of 3 because DBG Bars */
	left: 1.5rem;
	top: 3rem;

	/* CONSIDER 'DBG' BARS, only 'width' since Trx needs expand for centering */
	width: calc( 100dvw - 3rem );
	max-height: calc( 100dvh - 6rem );

	overflow-x: auto;
	overflow-y: auto;

	background-color: #000A;
	border: solid 0.125rem #888;
}

/* PANEL__TITLE_BAR */
.Ku01_BzVa_GeBre
{
	display: flex;

    justify-content: center;
    align-items: center;

	box-sizing: border-box;
	flex-wrap: wrap;

	margin: 0.50rem;
	padding: 0.25rem;
}

/* PANEL_GUI ---------------------- */
.Ku01__HriNe
{
	position: relative;
	z-index: 4;
}

/* PANEL_GUI---WIDE */
@media (min-aspect-ratio: 1/1)
{
	.Ku01__HriNe
	{
		display: block;
	}
}

/* PANEL_GUI---TALL */
@media (max-aspect-ratio: 1/1)
{
	.Ku01__HriNe
	{
		/* display: block; */
		display: grid;
		/* 2 columns */
		grid-template-columns: 20% 80%;
	}
}

/* PANEL_ALL_CHOICES ---------------------- */
.Ku02__NzKwa
{
	border-radius: 1.5rem;
	margin: 0.0rem;
	background-color: #0008;

	/* PANEL_ALL_CHOICES--WIDE */
	@media (min-aspect-ratio: 1/1)
	{
		padding: 0.0rem -0.125rem;
		/* TL TR BR BL */
		border-radius: 0.0rem 0.0rem 1.5rem 1.5rem;

		border-left: solid 0.125rem #FFF;
		border-right: solid 0.125rem #FFF;

		border-top: none 0.0 rem;
		border-bottom: solid 0.125rem #FFF;
	}

	/* PANEL_ALL_CHOICES--TALL */
	@media (max-aspect-ratio: 1/1)
	{
		padding: 0.0rem;

		/* TL TR BR BL */
		border-radius: 0.0rem 1.5rem 1.5rem 0.0rem;

		border-left: none;
		border-right: solid 0.125rem #FFF;

		border-top: solid 0.125rem #FFF;
		border-bottom: solid 0.125rem #FFF;
	}
}

/* PANEL__MENU TABS --------------------------------- */
.Ku03__HriNzVa
{
	background-color: #0000;
	border-radius: 0.0rem;
	padding: 0.0rem;
	margin: 0.0rem;

	/* PANEL__MENU TABS---WIDE */
	@media (min-aspect-ratio: 1/1)
	{
		display: flex;
		flex-wrap: nowrap;
		place-items: stretch stretch;
		min-height: 3.0rem;
	}

	/* PANEL__MENU TABS---TALL */
	@media (max-aspect-ratio: 1/1)
	{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 16.67%;
	}
}

/* PANEL__TOPIC_CHOICES ----------------------------- */
.Ku03_NeKu
{
	display: grid;

	/* PANEL__TOPIC_CHOICES---WIDE */
	@media (min-aspect-ratio: 1/1)
	{
		grid-template-columns: 50% 50%;
	}
	@media (min-aspect-ratio: 9/5 )
	{
		grid-template-columns: 33% 33% 33%;
	}
	/* PANEL__TOPIC_CHOICES---TALL */
	@media (max-aspect-ratio: 1/1)
	{
		grid-template-columns: 100%;
	}
}

/* PANEL__TOPIC_TEXT */
.Kwi03_KeDru
{
	display: inline-block;
}

/* PANEL__VERSION */
.Kwi04_BriDzDa
{
	margin: 0.25rem;
	padding: 0.25rem;
}

/*@@@@@@@@@@@@@@@
TEXT
@@@@@@@@@@@@@@@*/

/* TEXT__TITLE_WORDSIZE */
.BriDz_FzVa
{
	font-size: 2.0rem;
	text-align: center;
}

/* TEXT__APP_VERSION */
.BriDzDa
{
	display: block;
	text-align:center;
	margin: 0.0rem;
	padding: 0.0rem;
	color: rgb( 192, 192, 192 );
	font-size: 75%;
}

/* TEXT__ICON --------------------------------------*/
.JaPoJy
{
	margin: 0.0rem;
	padding: 0.0rem;
}

/* TEXT__MENU_TITLE --------------------------------- */
.HriNzVa
{
	display: block;
	flex-grow: 1;

	padding: 0.0rem;
	margin: 0.0rem;

	text-align:center;
	font-weight:bold;
	transition: background .3s, color .3s;

	color: #AAA;
	background-color: #4448;
}

/* TEXT__MENU_HOVER */
.HriNzVa:hover
{
	font-size: 1.5rem;
	box-shadow: 0 0 1.5rem #FFF;
}

/* TEXT__MENU_SELECTED */
.HriNzVa_Se
{
	color: #FFF;
	background-color: #0008;
	font-size: 1.25rem;
	box-shadow: 0 0 1.5rem #D22;
}

/* TEXT__MENU_TITLE---WIDE */
@media (min-aspect-ratio: 1/1)
{
	.HriNzVa
	{
		width: 16.67%;
		border-radius:1.5rem 1.5rem 0 0;
		border: solid 0.125rem #FFF;
	}
	.HriNzVa_Se
	{
		border-bottom:none;
	}
}

/* TEXT__MENU_TITLE---TALL */
@media (max-aspect-ratio: 1/1)
{
	.HriNzVa
	{
		width: 100%;
		border-radius: 1.5rem 0 0 1.5rem;
		border: solid 0.125rem #FFF;
	}
	.HriNzVa_Se
	{
		border-right: none;
	}
}

/* TEXT__ITEMS---------------------------------------------------- */

/* TEXT__LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align:left;
	color: #FFF;

	padding: 0.25rem 1.00rem;
	margin: 0.25rem 0.0rem;

	background-color: #0008;
}

/* TEXT__INDEX_or_SLIDER */
.HriNeVx
{
	display: inline-flex;
	text-align:left;
	color: #888;
	background-color: #0008;
	/* SLIDER_CLR */
	accent-color: #D22;

	margin: 0.25rem 0.0rem;
	padding: 0.25rem;
}

/* TEXT__LIST_ELEMENTS */
.HriNeTi
/* TEXT__TYPING_INPUT */
, .KeDru_MiPo
{
	display: inline-flex;
	text-align:left;

	margin: 0.25rem 0.125rem;
	padding: 0.25rem 1.00rem;

	/* color: #000;
	background-color: #BBB8; */
	color: #FFF;
	background-color: #444F;

	border-radius: 1.5rem;
	border: 0.125rem solid #FFF;
}

/* TEXT__BTN */
.HriNe_Tra
{
	display: inline-flex;
	text-align:center;

	border-radius: 1.5rem;
	border: 0.125rem solid #FFF;

	margin: 0.25rem;
	padding: 0.25rem 0.75rem;

	color: #FFF;
	background-color: #6668;
}

/* GLOW ON HOVER */
.TreHy:hover
{
	box-shadow: 0 0 1.0rem #FFF;
}
.TreHy:focus
{
	/* GLOW */
	box-shadow: 0 0 2.0rem #FFF;
}

/* TEXT__DOCUMENT HEADER */
.KeDruBz
{
	display: inline-block;
	text-align:center;

	color: #FFF;
	background-color: #000F;
}

/* TEXT__DOCUMENT BODY */
.KeDruKa
{
	display: block;
	text-align:left;

	margin: 1.0rem;
	padding: 1.0rem;

	color: #FFF;
	background-color: #000F;

	overflow-x: none;
	overflow-y: scroll;

	max-height: 12.0rem
}

/* TEXT__DBG ERR */
.TrxKz
{
	font-size: 1.5rem;
	text-align:center;
}

/*@@@@@@@@@@@@@@@
ELEMENTS IMAGE GRID
@@@@@@@@@@@@@@@*/

/* EMOJI SELECTOR */
.TaJaPo_HryKu
{
	display: grid;
	place-items: stretch stretch;

	grid-template-columns: 8.0rem calc( 100% - 8.0rem);

	width: 100%;
	height: 8.0rem;

	margin: 0.25rem;
	padding: 0.0rem;
}

/* EMOJI CURRENT */
.NiJaPo_Fe
{
	display: block;
	place-items: center center;
	text-align: center;

	font-size: 6.0rem;
	width: 100%;
	height: 8.0rem;

	margin: 0.0rem;
	padding: 0.0rem;
}

/* EMOJI SELECTOR */
.NiJaPo_NeKu
{
	display: inline-flex;
	flex-wrap: wrap;
    /* flex-direction: column; */


	width: 100%;
	height: 8.0rem;

	overflow-x: none;
	overflow-y: scroll;

	margin: 0.0rem;
	padding: 0.0rem;

}
/* EMOJI LIST */
.NiJaPo_Va
{
	font-size: 2.0rem;
	margin: 0.0rem;
	padding: 0.0rem;
	text-align: center;

	background-color: #0000;
	filter: grayscale( 85% );

	/* background-color: #D22;
	border-radius: 0.0rem;
	border: 0.125rem solid #0F0; */
}
.NiJaPo_Va:Hover
{
	background-color: #FFF;
	filter: grayscale( 0% );
	transition: 1.0s;
}


/*@@@@@@@@@@@@@@@
ELEMENTS MISC
@@@@@@@@@@@@@@@*/

/* IMAGE LOGO */
.Kwi00__BriDzJaPo
{
	position: relative;
	/* z-index: 2; */

	height: 4.0rem;
	margin: 0.125rem 0.5rem;
	padding: 0.0rem;

	border-radius: 2.0rem;
	border: 0.125rem solid #FFFF;
}

/* BTN SUBMIT ===> LAUNCH BTN RED */
/* input[type=submit] */
.HriNe_TraKwi
{
	font-size: 1.5rem;
	height: 3.0rem;
	width: calc( 100% - 1.0rem );

	margin: 0.50rem;
	padding: 0.25rem;

	border-radius: 2.0rem;
	border: 0.1rem solid #FFF;
	background-color: #D22;
}

/* BTN SUBMIT HOVER BG Po ==> GREEN */
/* input[type=submit]:hover */
.HriNe_TraKwi:hover
{
	background-color: #2A2;
	/* GLOW */
	box-shadow: 0 0 1.0rem #FFF;
}

/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/
.KaHyHo input
{
	opacity: 0;
	width: 0;
	height: 0;

	border-radius: 0.0rem;
	margin: 0.0rem;
	padding: 0.0rem;
}

.KaHyHo
{
	position: relative;
	display: inline-block;
	width: 3.0rem;
	height: 1.5rem;
}
.KaHyHo:hover
{
	box-shadow: 0 0 1.5rem #FFF;
}

/* ELLIPSE BAR BG SHP */
.VuHyHo
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 1.5rem;

	border-radius: 0.0rem;
	margin: 0.0rem;
	padding: 0.0rem;

	/* CHECKBOX GREY BG */
	background-color: #666F;
	transition: 0.5s;
	border-radius: 1.5rem;
}

/* CHECKBOX CIRCLE INDICATOR */
.VuHyHo:before
{
	position: absolute;
	content: "";

	width: 1.5rem;
	height: 1.5rem;

	left: 0.0rem;
	bottom: 0.0rem;

	/* CHECKBOX CIRCLE  INDICATOR*/
	background-color: #DDD;
	transition: 0.5s;
	border-radius: 50%;
}

input:checked + .VuHyHo
{
	/* CHECKBOX RED BG */
	background-color: #D22;
}

input:focus + .VuHyHo
{
	/* GLOW */
	box-shadow: 0 0 1.0rem #D22;
}

input:checked + .VuHyHo:before
{
	transform: translateX( 1.5rem );
}

/*@@@@@@@@@@@@@@@
ELM_FX
@@@@@@@@@@@@@@@*/

/* ELM__NOT_IN_USE */
.HriNe_TraHo
{
	color: #FFFF;
	background-color: #D22;
}
/* ELM__FADED__NOT_IN_USE */
.HriNe_HryHo
{
	color: #0008;
	background-color: #8888;

	filter: blur( 4px );
	/* filter: brightness( 25% ); */

	transition: 0.3s
}

/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
