/* @@@@@@@@@@@@@@@
CSS BEGIN

3 DIVs as 'SCREENs'
MxPo_De
MxPo_Kwi
MxPo_Trx

@@@@@@@@@@@@@@@ */
.SpoJy
{
	display: block;
	position: absolute;
	margin: 0;
	padding: none;

	background-color: rgb( 64, 64, 64 );
}


/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.WaDru_Bz
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
.WaDru_Ka
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}


/*@@@@@@@@@@@@@@@
AREA
@@@@@@@@@@@@@@@*/

.KuJy
{
	left: 0dvw;
	top:0dvh;
	width: 100dvw;
	height: 100dvh;
}


.MxPo
{
	left: 0dvw;
	top: 1.5em;
	width: 100dvw;
	height: calc( 100dvh - 3.0em);

	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
DBG
@@@@@@@@@@@@@@@*/
.YzKeDru
{
	font-size: 1.5em;
	color: rgb(255, 255, 255);
}

/*@@@@@@@@@@@@@@@
GUI
@@@@@@@@@@@@@@@*/
.HriNeKu
{
	display: block;
	position: absolute;
	z-index: 2;

	left: calc( 50dvw - 16em);
	top: calc( 50dvh - 24em);

	width: 32em;
	height: 48em;

	margin: 1.0em;
	padding: 1.0em;

	box-sizing: border-box;
	border-radius: 1.5em;
	border: 0.25em solid rgb( 255, 255, 255 );

	background-color: rgb( 0, 0, 0, 0.5 );
}

.HriNeTi
{
	display: block;
	text-align:left;

	margin: 0.5em;
	padding: 0.5em;

	font-size: 1.em;
	color: rgb(255, 255, 255 );
}

.TrxKz
{
	display: block;
	text-align:center;

	margin: 0.5em;
	padding: 0.5em;

	font-size: 2.5em;
	color: rgb(255, 255, 255 );
}


/* TEXT */
input[type=text], select
{
	width: calc( 67% - 6em );

	box-sizing: border-box;
	border: 0.5em;
	border-radius: 0.5em;
	border: 0.25em solid rgb( 255, 255, 255 );

	background-color: rgb( 0, 32, 96 );
}

/* BUTTON */
input[type=submit]
{
	margin: 0.5em;
	padding: 0.5em;
	width: calc( 100% - 6em );

	box-sizing: border-box;
	border: 0.5em;
	border-radius: 0.5em;
	border: 0.25em solid rgb( 255, 255, 255 );

	background-color: rgb( 192, 32, 32 );
	cursor: pointer;
}
/* HOVER BG Po */
input[type=submit]:hover
{
	background-color: rgb( 32, 160, 32 );
}

/*@@@@@@@@@@@@@@@
TOGGLES
@@@@@@@@@@@@@@@*/
.switch
{
	position: relative;
	display: block;
	width: 3em;
	height: 1em;
}

.switch input
{
	opacity: 0;
	width: 0;
	height: 0;
}

.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider
{
	background-color: #2196F3;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round
{
	border-radius: 34px;
}

.slider.round:before
{
	border-radius: 50%;
}


/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
#KeMeBri_Bz
{
	left: 0dvw;
	top: 0dvh;
	width: 100dvw;
	height: 1.5em;
}

#KeMeBri_Ka
{
	left: 0dvw;
	top: calc(100dvh - 1.5em);
	width: 100dvw;
	height: 1.5em;
}

/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
