/* !!!!!!!!!!!!!!!!!!
IMPORT rules must appear at the top, before any style declaration
RULES MATCHED by ORDER in CSS file here, no 'class order'!
!!!!!!!!!!!!!!!!!!!!!!!

@@@@@@@@@@@@@@@
CSS BEGIN
--------------
TAGS
aria: accesibility labels
.class comma: matches (OR)
plus: match ADJACENT
>: match ALL children
A ~ B: match ALL elm w/ A AND B
space: nested lf to rt inside
 ::before ::after insert content before/after an element
--------------
ATTR:
Sides: top, right, bottom left
Corners: top-left, top-right, bottom-right, bottom-left
--------------
DESIGN:
3 MODES
--------------
MxPo_Kwi: Menu & Topic-GUI to edit
MxPo_Trx:
MxPo_Bri
@@@@@@@@@@@@@@@ */


/*@@@@@@@@@@@@@@@
SHARED
@@@@@@@@@@@@@@@*/
:root
{
	/* COLOR */
	--PoStz: var(#0000);
	--PoStzFz: #0002;
	--PoStzVo: #0008;
	--PoStzDe: #000A;
	--PoStzSpo: #000F;

	--PoKuSta: #222A;

	--PoKuSteVo: #4448;
	--PoKuSteSpo: #444F;

	/* Section Line */
	--PoKuStuVo: #6668;
	/* Toggle BG */
	--PoKuStuSpo: #666F;

	--PoBre: #888;
	--PoBreHu: #8884;
	--PoBreVo: #8888;
	--PoBreSpo: #888F;

	--PoTraFra: #AAA;

	--PoTraFre: #CCC;

	--PoSi: #FFF;
	--PoSiSpo: #FFFF;

	/* ALERT */
	--PoSmu: #D22;
	--PoSmuSe: #2A2;


  	/* SIZE */
	--GyGe_MoKu: 42ch;
	--GyGe_ToKu: 96ch;

	--GyBe: 0.125rem;
	--GyBo: 0.25rem;
	--GyBi: 0.50rem;

	--GyTreHu: 0.875rem;
	--GyTreDe: 1.0rem;
	--GyTreHi: 1.25rem;

	--GyKaHu: 1.5rem;
	--GyKaDe: 2.0rem;
	--GyKaHi: 3.0rem;

	--GyKyHu: 4.0rem;


	/* MISC */
	--GwxSpo: solid;
	--GwxKwo: dotted;
}


/*@@@@@@@@@@@@@@@
ANCESTOR
@@@@@@@@@@@@@@@*/
*
{
	/* content-box WIDTH/HEIGHT ignore padding, margin, & border */
	/* border-box  WIDTH/HEIGHT ignore margin only */
	box-sizing: border-box;
	border-radius: 1.5rem;
	margin: 0.25rem;
	padding: 0.25rem;

	/* content-visibility: auto; */
	font-size: 1.0rem;
	font-display: block;

	color: var(--PoSiSpo);
	background-color: var(--PoStz);
	/* SLIDER & RADIO CLR	*/
	accent-color: var(--PoSmu);
}

/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/

.WaDru_SmuHi
{
	font-family: "Final Frontier Old Style", sans-serif;
	font-weight: 800;
	font-style: bold;
}

.WaDru_Bz
{
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.WaDru_De,
.WaDru_Py
{
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.WaDru_Ku
{
	/* Provides FLAGS that show correctly on Win11 and don't lag on Apple */
	font-family: "Segoe UI Emoji", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*@@@@@@@@@@@@@@@
ICONS
@@@@@@@@@@@@@@@*/
.GwzHu{	zoom: 0.5;}

/* CLR ICONS */
.GwzDoPo
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo02__GwzDoPo.png);
	background-repeat:no-repeat;

	margin: 0.0rem;
	padding: 0.0rem;
	border-radius: 0.0rem;

	height: 108px;
	width: 108px;
}

/* ROW 0 */
.GwzDo_WIN { background-position: 0px 0px;}
.GwzDo_IOS { background-position: -108px 0px;}
.GwzDo_MAC { background-position: -216px 0px;}
.GwzDo_DRD { background-position: -324px 0px;}
.GwzDo_LNX { background-position: -432px 0px;}

.GwzDo_ESRB { background-position: -540px 0px;}
.GwzDo_PEGI { background-position: -648px 0px;}
.GwzDo_GDPR { background-position: -756px 0px;}
.GwzDo_CCPA { background-position: 0px -108px;}

.GwzDo_BULLET { background-position: 0px -216px;}

.GwzDo_NET { background-position: -108px -324px;}
.GwzDo_SECURITY { background-position: -216px -324px;}
.GwzDo_GLOBAL { background-position: -324px -324px;}

/* ROW 3 */
.GwzDo_STORAGE { background-position: -432px -324px;}
.GwzDo_SPEED { background-position: -540px -324px;}
.GwzDo_BATTERY { background-position: -648px -324px;}
.GwzDo_PLUG { background-position: -756px -324px;}


/*@@@@@@@@@@@@@@@
AREA TYPES
( Not Panels nor Status Bars )
 ( Fullpage or Screen as Canvas spaces )
@@@@@@@@@@@@@@@*/
.KuJy00__Gry
{
	left: 0dvw;
	top: 0dvh;

	width: 100dvw;
	height: 100dvh;

	overflow: hidden;
}

.KuJy01__SpoKz
{
	margin: 0.0rem;
	padding: 0.0rem;

	display: block;
	position: absolute;

	border-radius: 0.0rem;
	border: none;

	color: var(--PoSiSpo);
	background-color: var(--PoKuSteSpo)
}

.KuJy02__MxPo
{
	left: 0dvw;
	top: 1.5rem;

	width: 100dvw;
	height: calc( 100dvh - 3.0rem);

	overflow: hidden;
	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
.KeMe_De
{
	left: 0dvw;
	width: 100dvw;
	height: 1.5rem;
	text-align: start;
	place-items: center center;

	font-size: 1.25rem;
}

.KeMe_Bz
{
	top: 0dvh;
}

.KeMe_Bo
{
	top: calc(100dvh - 1.5rem);
}


/*@@@@@@@@@@@@@@@
TOOLTIPS
@@@@@@@@@@@@@@@*/
div[data-title]
{
	cursor: pointer;
	position: relative;
}

/* FLOAT BUBBLE TEXT */
div[data-title]::before
{
	content: attr(data-title);
	white-space: pre-wrap;
	position: absolute;
	text-align: center;

	width: fit-content;
	min-width: 8rem;
	/* height: fit-content; */
	height: 2.0rem;

	left: 0.0rem;
	/* top: -4.0rem; */
	top: 0.0rem;

	margin: 0.5rem;
	padding: 0.5rem;

	color: #444E;
	background-color: #DDDE;

	border-radius: 1.5rem;
	font-size: 0.75rem;

	opacity: 0.0;
	transition: 0.5s;
}

/* TRIANGLE GUIDE */
div[data-title]::after
{
	content: " ";
	position: absolute;

	left: 2.0rem;
	/* top: -0.5rem; size + margin */
	top: 3.5rem; /* size + margin */

	padding: 0.0rem;
	margin: 0.0rem;

	/* Triangle Size */
	border-width: 0.5rem;


	border-style: solid;
	border-color: #DDDE transparent transparent transparent;

	opacity: 0.0;
	transition: 0.5s;
}

div[data-title]:hover::before,
div[data-title]:hover::after
{
	opacity: 1;
}


/*@@@@@@@@@@@@@@@
PANELS
@@@@@@@@@@@@@@@*/

/* PANEL__OUTER_TOPIC */
.Ku00__NzKwa
{
	display: block;
	position: absolute;
	z-index: 1;

	/* Use 1.5 instead of 3 because DBG Bars */
	left: 1.5rem;
	top: 3.0rem;

	/* CONSIDER 'DBG' BARS, only 'width' since Trx needs expand for centering */
	width: calc( 100dvw - 3.0rem );
	max-height: calc( 100dvh - 6.0rem );
	overflow-x: auto;
	overflow-y: auto;

	background-color: var(--PoStzDe);
	border: solid 0.125rem var(--PoBre);
}

/* PANEL__TITLE_BAR */
.Ku01_BzVa_GeBre
{
	display: flex;
	flex-wrap: wrap;

    justify-content: center;
    align-items: center;

	margin: 1.0rem 0.25rem;
	padding: 0.25rem;
}

/* PANEL_GUI ---------------------- */
.Ku01__HriNe
{
	position: relative;
	z-index: 4;
}

/* PANEL_GUI---HORIZ */
.Ku01__HriNe_GxZe
{
	display: block;
}

/* PANEL_GUI---VERT */
.Ku01__HriNe_GaZe
, .Ku01__HriNe_GaZo
{
	display: grid;
	grid-template-columns: 1fr 7fr;
}


/* PANEL__MENU TABS --------------------------------- */
.Ku02__HriNzVa
{
	background-color: var(--PoStz);
	border-radius: 0.0rem;
	margin: 0.0rem;
}

/* PANEL__MENU TABS---HORIZ */
.Ku02__HriNzVa_GxZe
{
	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	place-items: stretch stretch;
	min-height: 3.0rem;

	/* 0 to align with topic section */
	padding: 0.25rem 0.25rem 0.0rem 0.25rem;
}

/* PANEL__MENU TABS---VERT */
.Ku02__HriNzVa_GaZe
, .Ku02__HriNzVa_GaZo
{
	display: grid;
	grid-template-rows: 16.67%;
	/* grid-template-columns: 100%; */
}

.Ku02__HriNzVa_GaZe
{
	/* 0 to align with topic section */
	padding: 0.25rem -0.5rem 0.25rem 0.25rem;
}

.Ku02__HriNzVa_GaZo
{
	/* 0 to align with topic section */
	padding: 0.25rem -0.0rem 0.0rem -0.5rem;
}


/* PANEL_ALL_CHOICES ---------------------- */
.Ku03__NzKwa
{
	border-radius: 1.5rem;
	background-color: var(--PoStzVo);

	/* 0 to align with topic section */
	margin: 0.0rem;
}

/* PANEL_ALL_CHOICES--WIDE */
.Ku03__NzKwa_GxZe
{
	padding: 0.0rem -0.5rem;
	/* TL TR BR BL */
	border-radius: 0.0rem 0.0rem 1.5rem 1.5rem;

	border-left: solid 0.125rem var(--PoSi);
	border-right: solid 0.125rem var(--PoSi);
	border-top: none;
	border-bottom: solid 0.125rem var(--PoSi);
}

/* PANEL_ALL_CHOICES--TALL */
.Ku03__NzKwa_GaZe
{
	padding: 0.0rem;
	/* TL TR BR BL */
	border-radius: 0.0rem 1.5rem 1.5rem 0.0rem;

	border-left: none;
	border-right: solid 0.125rem var(--PoSi);

	border-top: solid 0.125rem var(--PoSi);
	border-bottom: solid 0.125rem var(--PoSi);
}

.Ku03__NzKwa_GaZo
{
	padding: 0.0rem;
	/* TL TR BR BL */
	border-radius: 1.5rem 0.0rem 0.0rem 1.5rem;

	border-left: solid 0.125rem var(--PoSi);
	border-right: none;

	border-top: solid 0.125rem var(--PoSi);
	border-bottom: solid 0.125rem var(--PoSi);
}


/* PANEL__TOPIC_CHOICES ----------------------------- */
.Ku04__MoKu
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat( auto-fill, minmax( var( --GyGe_MoKu ), 1fr ));
}

.Ku04__ToKu
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat( auto-fill, minmax( var( --GyGe_ToKu ), 1fr ));
}

/* PANEL__VERSION */
.Ku05_KwiBriDzDa
{
	margin: 0.25rem;
	padding: 0.25rem;
}

/*@@@@@@@@@@@@@@@
TEXT
@@@@@@@@@@@@@@@*/

/* TEXT__TITLE_WORDSIZE */
.BriDz_FzVa
{
	font-size: 3.0rem;
	text-align: center;
}

/* TEXT__APP_VERSION */
.BriDzDa
{
	display: block;
	text-align:center;
	margin: 0.125rem;
	padding: 0.0rem;
	color: var(--PoTraFre);
	font-size: 75%;
}

/* TEXT__ICON --------------------------------------*/
.JaPoJy
{
	margin: 0.0rem;
	padding: 0.0rem;
}

/* TEXT__MENU_TITLE --------------------------------- */
.HriNzVa
{
	display: flex;

    justify-content: center;
    align-items: center;
	padding: 0.0rem;
	margin: 0.0rem;

	color: var(--PoTraFra);
	background-color: var(--PoKuSteVo);
	border: solid 0.125rem var(--PoSi);

	transition: color 0.3s, background-color 0.3s;
}

/* TEXT__MENU_HOVER */
.HriNzVa:hover
{
	font-size: 1.5rem;
}

/* TEXT__MENU_TITLE---HORIZ */
.HriNzVa_GxZe
{
	width: 16.67%;
	border-radius:1.5rem 1.5rem 0 0;
}

/* TEXT__MENU_TITLE---VERT */
.HriNzVa_GaZe
{
	width: 100%;
	border-radius: 1.5rem 0 0 1.5rem;
}

.HriNzVa_GaZo
{
	width: 100%;
	border-radius: 0 1.5rem 1.5rem 0;
}

/* TEXT__MENU_TITLE---HORIZ */
.HriNzVa_GxZe:hover
{
	box-shadow: 0 -0.5em 1.0rem var(--PoTraFre);
}

/* TEXT__MENU_TITLE---VERT */
.HriNzVa_GaZe:hover
{
	box-shadow: -0.5em 0 1.0rem var(--PoTraFre);
}

.HriNzVa_GaZo:hover
{
	box-shadow: 0.5em 0 1.0rem var(--PoTraFre);
}

/* TEXT__MENU_SELECTED */
.HriNzVa_Se
{
	font-size: 1.25rem;
	font-style: bold;

	color: var(--PoSi);
	background-color: var(--PoKuHu);
}

/* TEXT__MENU_TITLE---HORIZ */
.HriNzVa_Se_GxZe
{
	box-shadow: 0 -0.5em 1.0rem var(--PoTraFra);
	border-bottom:none;
}

/* TEXT__MENU_TITLE---VERT */
.HriNzVa_Se_GaZe
{
	box-shadow: -0.5em 0 1.0rem var(--PoTraFra);
	border-right: none;
}

.HriNzVa_Se_GaZo
{
	box-shadow: 0.5em 0 1.0rem var(--PoTraFra);
	border-left: none;
}

/* TEXT__ITEMS--------------------------------------------- */

/* TEXT__SECTION_INDEX */
.HriNeVx
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	text-align: start;
	color: var(--PoBre);
	background-color: var(--PoKuSta);

	border-radius: 1.0rem;

	border-left: none;
	border-right: none;
	border-top: solid 0.125rem var(--PoKuSteSpo);
	border-bottom: none;

	margin: 0.50rem;
	padding: 0.25rem;
}

/* TEXT__LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align: start;
	color: var(--PoSi);

	padding: 0.25rem 1.0rem;
	margin: 0.25rem 0.0rem;

	background-color: var(--PoStzFz);
}

/* TEXT__LIST_ELEMENTS */
.HriNeTi
/* TEXT__TYPING_INPUT */
, .KeDru_MiPo
, .HriNe_Tra
{
	display: inline-flex;
	text-align: start;

	margin: 0.25rem 0.125rem;
	padding: 0.25rem 1.00rem;

	color: var(--PoSi);
	background-color: var(--PoKuSteSpo);

	border-radius: 1.5rem;
	border: solid 0.125rem var(--PoSi);
}

/* TEXT__BTN */
.HriNe_Tra
{
	text-align:center;
	margin: 0.25rem;
	padding: 0.25rem 0.75rem;
}

/* GLOW ON HOVER */
.TreHy:hover
{
	box-shadow: 0.0 0 1.0rem var(--PoSi);
}

/* GLOW FOCUS */
.TreHy:focus
{
	box-shadow: 0 0 1.0rem var(--PoTraFra);
}

/* TEXT__DOCUMENT HEADER */
.KeDruBz
{
	font-size: 1.33rem;
}

/* TEXT__SECTION */
.KeDruNz
{
	font-size: 1.20rem;

	margin: 0.125rem;
	padding: 0.125rem;
}

/* TEXT__DOCUMENT BODY */
.KeDruBa, .KeDruBe
{
	font-size: 0.875rem;
	white-space: pre-wrap;
	max-width: calc( 100% - 1.0rem );

	margin: 0.50rem;
	padding: 0.50rem;

	background-color: var(--PoKuHu);

	overflow-x: auto;
	overflow-y: auto;
}

/* TEXT__DOCUMENT COLUMNS */
.KeDruBe
{
	/* Requires BLOCK */
	column-rule: 0.25em dotted var(--PoKuSta);
	column-width: 44ch;
	column-gap: 4ch;
}


/* TEXT__DBG ERR */
.TrxKz
{
	font-size: 1.25rem;
	text-align: center;
}

/*@@@@@@@@@@@@@@@
ELEMENTS IMAGE GRID
@@@@@@@@@@@@@@@*/

/* SPRITE ZONE */
.TaJaPo_HryKu
{
	display: inline-flex;
	flex-wrap: wrap;

	margin: 1.0rem 0.50rem;
	padding: 0.0rem;
}

/* SPRITE CURRENT IMAGE */
.NiJaPo_Fe
{
	display: inline-flex;
	place-items: center center;
	text-align: center;

	font-size: 6.0rem;
	width: auto;
	height: 8.0rem;

	margin: 0.25rem;
	padding: 0.25rem;
}

.NiJaPo_Trx
{
	display: block;
	place-items: center center;
	text-align: center;

	font-size: 6.0rem;
	width: auto;
	height: 8.0rem;

	margin: 0.25rem;
	padding: 0.25rem;
}

/* SPRITE SELECTOR BOX */
.NiJaPo_NeKu
{
	display: inline-flex;
	flex-wrap: wrap;

	border-radius: 0.0rem;
	border: solid 0.125rem var(--PoBreSpo);

	height: 8.0rem;

	overflow-x: none;
	overflow-y: auto;

	margin: 0.25rem;
	padding: 0.0rem;
}

/* SPRITE LIST */
.NiJaPo_Va
{
	font-size: 1.925rem;
	margin: 0.075rem;
	padding: 0.0rem;
	background-color: var(--PoStz);

	border-radius: 0.25rem;
}

/* FLAG NOT READY */
.NiJaPo_VaRu
{
	filter: brightness( 25% );
}

 /* FLAG AVAILABLE */
.NiJaPo_VaGri
{
	padding: 0.125rem;
}

.NiJaPo_VaGri:Hover
{
	background-color: var(--PoSi);
	transition: 1.0s;
}

/* OVERLAY EXACT*/
.NiJaPo_To
{
	position: absolute;
	text-align: center;

	margin: 0;
	padding: 0;
	left: 0;
	right: 100%;
	top: 0;
	bottom: 100%;
}

 /* EMOJI to GRAYSCALE */
.NiJaPo_VaVo
{
	padding: 0.125rem;
	filter: grayscale( 80% );
}

.NiJaPo_VaVo:Hover
{
	background-color: var(--PoSi);
	filter: grayscale( 0% );
	transition: 1.0s;
}

/*@@@@@@@@@@@@@@@
ELEMENTS MISC
@@@@@@@@@@@@@@@*/

/* IMAGE TITLEBAR LOGOS */
.Kwi00__BriDzJaPo
{
	position: relative;
	/* z-index: 2; */

	height: 4.0rem;
	margin: 0.25rem;
	padding: 0.0rem;

	border-radius: 1.5rem;
	border: solid 0.125rem var(--PoSiSpo);
}

/* SLIDER */
/* TEXT__SECTION_INDEX */
.HriNeVo
{
	display: inline-flex;
	text-align:center;

	color: var(--PoSiSpo);
	background-color: var(--PoKuHu);

	border-radius: 0.0rem;
	border: none;

	margin: 0.0rem;
	padding: 0.0rem;
}

/* BTN SUBMIT ===> LAUNCH BTN RED */
.HriNe_TraKwi
{
	font-size: 1.5rem;
	height: 3.0rem;
	width: calc( 100% - 1.0rem );

	margin: 0.50rem;
	padding: 0.25rem;

	border-radius: 1.5rem;
	border: solid 0.125rem var(--PoSi);
	background-color: var(--PoSmu);
}

/* BTN SUBMIT HOVER BG Po ==> GREEN */
.HriNe_TraKwi:hover
{
	background-color: var(--PoSmuSe);
	/* GLOW */
	box-shadow: 0 0 1.0rem var(--PoSi);
}

/*@@@@@@@@@@@@@@@
RADIO GROUP
@@@@@@@@@@@@@@@*/
.NiGruKu
{
	display: inline-flex;
	border: solid 0.125rem var(--PoBreHu);

	margin: 0.25rem;
	padding: 0.25rem;
}

.NiGruVa
{
	color: var(--PoSiSpo);
	background-color: var(--PoStzFz);

	margin: 0.25rem;
	padding: 0.25rem;
}

.NiGruTi
{
	margin: 0.25rem;
	padding: 0.25rem;

	background-color: var(--PoStzSpo);
}

/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/

/* INPUT special CSS */
.KaHyHo .MzHyHo
{
	width: 0;
	height: 0;

	opacity: 0;

	margin: 0.0rem;
	padding: 0.0rem;
}

/* CHECKBOX */
.KaHyHo
{
	width: 3.0rem;
	height: 1.5rem;

	position: relative;
	display: inline-block;
}
.KaHyHo:hover
{
	box-shadow: 0 0 1.5rem var(--PoSi);
}

/* ELLIPSE BAR BG SHP */
.VuHyHo
{
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 1.5rem;

	border-radius: 0.0rem;
	margin: 0.0rem;
	padding: 0.0rem;

	/* CHECKBOX GREY BG */
	background-color: var(--PoKuStuSpo);
	transition: 0.5s;
	border-radius: 1.5rem;
}

/* CHECKBOX CIRCLE INDICATOR */
.VuHyHo:before
{
	position: absolute;
	content: "";

	width: 1.5rem;
	height: 1.5rem;

	left: 0.0rem;
	bottom: 0.0rem;

	/* CHECKBOX CIRCLE  INDICATOR*/
	background-color: var(--PoTraFre);
	transition: 0.5s;
	border-radius: 50%;
}

.MzHyHo:checked + .VuHyHo
{
	/* CHECKBOX RED BG */
	background-color: var(--PoSmu);
}

.MzHyHo:focus + .VuHyHo
{
	/* GLOW */
	box-shadow: 0 0 1.0rem var(--PoSmu);
}

.MzHyHo:checked + .VuHyHo:before
{
	transform: translateX( 1.5rem );
}

/*@@@@@@@@@@@@@@@
ELM_FX
@@@@@@@@@@@@@@@*/

/* SECTION LINE */
hr
{
    display: block;
	border-radius: 1.0rem;

	border-left: none;
	border-right: none;
	border-bottom: solid 0.125rem var(--PoKuStuVo);
	border-top: none;

    margin: 0.0 rem;
    padding: 1.0 rem;
}

/* ELM__NOT_IN_USE */
.HriNe_TraHo
{
	color: var(--PoSiSpo);
	background-color: var(--PoSmu);
}
/* ELM__FADED__NOT_IN_USE */
.HriNe_HryHo
{
	color: var(--PoKuHu);
	background-color: var(--PoBreVo);

	filter: blur( 4px );
	/* filter: brightness( 25% ); */

	transition: 0.3s
}

.HriNe__SmoTy
{
	display:none;
}

/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
