@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* IMPORT rules must appear at the top, before any style declaration */
/* @@@@@@@@@@@@@@@
CSS BEGIN

3 DIVs as 'SCREENs'
MxPo_Bri
MxPo_Kwi
MxPo_Trx

@@@@@@@@@@@@@@@ */
.SpoJy
{
	display: block;
	position: absolute;

	margin: 0;
	padding: 0;

	font-size: 1.0em;
	color: rgb(255, 255, 255);
	background-color: rgb( 64, 64, 64 );
}


/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/
.WaDru_Bz
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.WaDru_Ka
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.TBD
{
	color:rgb(96,96,96)
}
/*@@@@@@@@@@@@@@@
AREA
@@@@@@@@@@@@@@@*/

.KuJy
{
	left: 0dvw;
	top:0dvh;
	width: 100dvw;
	height: 100dvh;
}


.MxPo
{
	left: 0dvw;
	top: 1.5em;
	width: 100dvw;
	height: calc( 100dvh - 3.0em);

	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
DBG
@@@@@@@@@@@@@@@*/
.YzKeDru
{
	font-size: 1.5em;
	color: rgb(255, 255, 255);
}

/* DEBUG TXT */
.TrxKz
{
	display: block;
	text-align:center;

	margin: 0.5em;
	padding: 0.5em;

	font-size: 1.5em;
	color: rgb(255, 255, 255 );
}

/*@@@@@@@@@@@@@@@
GUI
@@@@@@@@@@@@@@@*/

/* BASE-PANEL */
.HriNeKu
{
	display: block;
	position: absolute;
	z-index: 1;

	left: calc( 50dvw - 16em);
	top: 4em;
	width: 32em;
	margin: 0.5em;
	padding: 0.5em;

	box-sizing: border-box;
	border-radius: 1.5em;
	border: 0.125em solid rgb( 255, 255, 255 );
	background-color: rgb( 0, 0, 0, 0.5 );
}

/* LOGO */
.HriNeJaPo
{
	display: block;
	position: relative;
	z-index: 2;

	margin: 0.2em;
	padding: 0.0em;
	left: 2.0em;
	width: calc( 100% - 4.0em );
	height: 6em;

	box-sizing: border-box;
	border-radius: 8.0em;
	border: 0.125em solid rgb( 255, 255, 255 );
}

/* SUBMIT ===> LAUNCH BTN RED */
input[type=submit]
{
	display: inline-flex;
	position: relative;
	margin: 0.5em;
	padding: 0.0em;

	left: 1.0em;
	width: calc( 100% - 3.0em );
	height: 2.5em;

	box-sizing: border-box;
	border-radius: 1.5em;
	border: 0.1em solid rgb( 255, 255, 255 );
	background-color: rgb( 192, 32, 32 );

	font-size: 1.25em;
	text-align: center;
}
/* HOVER BG Po ==> GREEN */
input[type=submit]:hover
{
	background-color: rgb( 32, 160, 32 );
}

/* INNER_TOPIC_PANEL */
.HriNzKu
{
	display: block;
	position: relative;
	z-index: 4;

	margin: 0.5em;
	padding: 0.5em;

	box-sizing: border-box;
	border-radius: 0.5em;
	border: 0.125em solid rgb( 255, 255, 255 );

	background-color: rgb( 0, 0, 0, 0.5 );
}

/* TOPIC_TITLE */
.BriDzVa
{
	text-align:center;
	margin: 0.25em;
	padding: 0.em;
}

/* TOPIC_TITLE */
.HriNzVa
{
	text-align:left;
	margin: 0.125em;
	padding: 0.0em;
}

/* PACK ELEMENTS */
.BriDzDa
{
	display: block;
	text-align:center;
	margin: 0.em;
	padding: 0.em;
	color: rgb( 192, 192, 192 );
}

/* DROP DOWN LIST */
.TaNeVa
{
	display: inline-flex;
	text-align:center;
	margin: 0.25em;
	padding: 0.25em;

	color: rgb(255, 255, 255 );
}

/* PACK ELEMENTS */
.HriNeTi
{
	display: inline-flex;
	text-align:left;
	margin: 0.25em;
	padding: 0.25em;

	color: rgb(255, 255, 255 );
}

/* PACK LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align:left;
	margin: 0.25em;
	padding: 0.0em;

	color: rgb(255, 255, 255 );
}

/* INPUT_TXT */
input[type=text], select
{
	display: inline-flex;
	width: 12em;

	box-sizing: border-box;
	border-radius: 0.5em;
	border: 0.125em solid rgb( 255, 255, 255 );

	background-color: rgb( 0, 0, 0, 0.5 );
}


/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/

.switch input
{
	opacity: 0;
	width: 0;
	height: 0;
}

.switch
{
	position: relative;
	display: inline-block;
	width: 3.0em;
	height: 1.5em;
}

.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb( 192, 192, 192 );
	transition: 0.5s;
	border-radius: 1.5em;
}

.slider:before
{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	left: 0.0em;
	bottom: 0.0em;
	background-color: white;
	transition: 0.5s;
	border-radius: 50%;
}

input:checked + .slider
{
	background-color: rgb( 192, 32, 32 );
}

input:focus + .slider
{
	/* GLOW */
	box-shadow: 0 0 1.0em rgb( 255, 255, 255 );
}

input:checked + .slider:before
{
	transform: translateX( 1.5em );
}


/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
#KeMeBri_Bz
{
	left: 0dvw;
	top: 0dvh;
	width: 100dvw;
	height: 1.5em;
}

#KeMeBri_Ka
{
	left: 0dvw;
	top: calc(100dvh - 1.5em);
	width: 100dvw;
	height: 1.5em;
}

/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
