@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* IMPORT rules must appear at the top, before any style declaration */
/* --------------
NOTE:
Sides: top, right, bottom left
Corners: top-left, top-right, bottom-right, bottom-left
--------------
*/
/* @@@@@@@@@@@@@@@
CSS BEGIN

3 DIVs as 'SCREENs'
MxPo_Bri
MxPo_Kwi
MxPo_Trx

@@@@@@@@@@@@@@@ */
*
{
	/* content-box WIDTH/HEIGHT ignore padding, margin, & border */
	/* border-box  WIDTH/HEIGHT ignore margin only */
	box-sizing: border-box;
	border-radius: 1.5rem;
	margin: 0.25rem;
	padding: 0.25rem;

	font-size: 1.0rem;
}

.SpoJy
{
	box-sizing: content-box;
	margin: 0.0rem;
	padding: 0.0rem;

	display: block;
	position: absolute;

	border-radius: 0.0rem;
	border: none;

	color: #FFFF;
	background-color: #444F
}

.HreJy
{
	margin: 0.25rem;
	padding: 0.25rem;
}

/*@@@@@@@@@@@@@@@
FULL  PAGE AREA
SCREEN as CANVAS
@@@@@@@@@@@@@@@*/
.KuJy
{
	left: 0dvw;
	top: 0dvh;

	width: 100dvw;
	height: 100dvh;

	overflow: hidden;
}

.MxPo
{
	left: 0dvw;
	top: 1.5rem;
	
	width: 100dvw;
	height: calc( 100dvh - 3.0rem);

	overflow: hidden;
	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
.KeMe_De
{
	left: 0dvw;
	width: 100dvw;
	height: 1.5rem;
	text-align: left;
	place-items: center center;

	font-size: 1.25rem;
}

.KeMe_Bz
{
	top: 0dvh;
}

.KeMe_Bo
{
	top: calc(100dvh - 1.5rem);
}

/*@@@@@@@@@@@@@@@
PANELS
@@@@@@@@@@@@@@@*/

/* PANEL__OUTER_TOPIC */
.Ku00__NzKwa
{
	display: block;
	position: absolute;
	z-index: 1;

	/* Use 1.5 instead of 3 because DBG Bars */
	left: 1.5rem;
	top: 3rem;

	/* CONSIDER 'DBG' BARS, only 'width' since Trx needs expand for centering */
	width: calc( 100dvw - 3rem );
	max-height: calc( 100dvh - 6rem );

	overflow-x: none;
	overflow-y: auto;

	background-color: #000A;
	border: solid 0.125rem #888;
}

/* PANEL__TITLE_BAR */
.Ku01_BzVa_GeBre
{
	display: flex;
	place-items: center;
	text-align: center;
	/* background-color: #FF0; */
}

/* PANEL_GUI ---------------------- */
.Ku01__HriNe
{
	position: relative;
	z-index: 4;
}

/* PANEL_GUI---WIDE */
@media (min-aspect-ratio: 1/1)
{
	.Ku01__HriNe
	{
		display: block;
	}
}

/* PANEL_GUI---TALL */
@media (max-aspect-ratio: 1/1)
{
	.Ku01__HriNe
	{
		/* display: block; */
		display: grid;
		/* 2 columns */
		grid-template-columns: 20% 80%;
	}
}

/* PANEL_ALL_CHOICES ---------------------- */
.Ku02__NzKwa
{
	border-radius: 1.5rem;
	margin: 0.0rem;
	background-color: #0008;

	/* PANEL_ALL_CHOICES--WIDE */
	@media (min-aspect-ratio: 1/1)
	{
		padding: 0.0rem -0.125rem;
		/* TL TR BR BL */
		border-radius: 0.0rem 0.0rem 1.5rem 1.5rem;

		border-left: solid 0.125rem #FFF;
		border-right: solid 0.125rem #FFF;

		border-top: none 0.0 rem;
		border-bottom: solid 0.125rem #FFF;
	}

	/* PANEL_ALL_CHOICES--TALL */
	@media (max-aspect-ratio: 1/1)
	{
		padding: 0.0rem;

		/* TL TR BR BL */
		border-radius: 0.0rem 1.5rem 1.5rem 0.0rem;

		border-left: none;
		border-right: solid 0.125rem #FFF;

		border-top: solid 0.125rem #FFF;
		border-bottom: solid 0.125rem #FFF;
	}
}

/* PANEL__MENU TABS --------------------------------- */
.Ku03__HriNzVa
{
	background-color: #0000;
	border-radius: 0.0rem;
	padding: 0.0rem;
	margin: 0.0rem;

	/* PANEL__MENU TABS---WIDE */
	@media (min-aspect-ratio: 1/1)
	{
		display: flex;
		flex-wrap: nowrap;
		place-items: stretch stretch;
		min-height: 3.0rem;
	}

	/* PANEL__MENU TABS---TALL */
	@media (max-aspect-ratio: 1/1)
	{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 16.67%;

		min-width: 6.0rem;
		min-height: 14.0rem;
	}
}

/* PANEL__TOPIC_CHOICES ----------------------------- */
.Ku03_NeKu
{
	/* PANEL__TOPIC_CHOICES---WIDE */
	@media (min-aspect-ratio: 1/1)
	{
		display: grid;
		grid-template-columns: 50% 50%;
		/* grid-template-columns: 33% 33% 33%; */
	}
	/* PANEL__TOPIC_CHOICES---TALL */
	@media (max-aspect-ratio: 1/1)
	{
		display: block;

		/* display: grid;
		grid-template-columns: 50% 50%; */
	}
}

/* PANEL__TOPIC_TEXT */
.Kwi03_KeDru
{
	display: block;
}

/* PANEL__TOPIC_ */
.Kwi04_
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*@@@@@@@@@@@@@@@
ICONS
@@@@@@@@@@@@@@@*/
.GwzHu{	zoom: 0.5;}
.GwzHi{	zoom: 2.0;}

/* B&W ICONS */
.GwzDoVo, .GwzDo
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo03__GwzDoVo.png);
	background-color:transparent;
	background-repeat:no-repeat;

	margin: 0.0rem;
	padding: 0.0rem;
	border-radius: 0.0rem;

	height: 108px;
	width: 108px;
}

/* CLR ICONS */
.GwzDoPo, .GwzDo:hover
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo02__GwzDoPo.png);
	background-color:transparent;
	background-repeat:no-repeat;

	margin: 0.0rem;
	padding: 0.0rem;
	border-radius: 0.0rem;

	height: 108px;
	width: 108px;
}

/* ROW 0 */
.GwzDo_WIN, .GwzDo_WIN:hover{ background-position: 0px 0px;}
.GwzDo_IOS, .GwzDo_IOS:hover{ background-position: -108px 0px;}
.GwzDo_MAC, .GwzDo_MAC:hover{ background-position: -216px 0px;}
.GwzDo_DRD, .GwzDo_DRD:hover{ background-position: -324px 0px;}
.GwzDo_LNX, .GwzDo_LNX:hover{ background-position: -432px 0px;}

.GwzDo_ESRB, .GwzDo_ESRB:hover{ background-position: -540px 0px;}
.GwzDo_PEGI, .GwzDo_PEGI:hover{ background-position: -648px 0px;}
.GwzDo_GDPR, .GwzDo_GDPR:hover{ background-position: -756px 0px;}
.GwzDo_CCPA, .GwzDo_CCPA:hover{ background-position: 0px -108px;}

.GwzDo_BULLET, .GwzDo_BULLET:hover{ background-position: 0px -216px;}

.GwzDo_NET, .GwzDo_NET:hover{ background-position: -108px -324px;}
.GwzDo_SECURITY, .GwzDo_SECURITY:hover{ background-position: -216px -324px;}
.GwzDo_GLOBAL, .GwzDo_GLOBAL:hover{ background-position: -324px -324px;}

/* ROW 3 */
.GwzDo_STORAGE, .GwzDo_STORAGE:hover{ background-position: -432px -324px;}
.GwzDo_SPEED, .GwzDo_SPEED:hover{ background-position: -540px -324px;}
.GwzDo_BATTERY, .GwzDo_BATTERY:hover{ background-position: -648px -324px;}
.GwzDo_PLUG, .GwzDo_PLUG:hover{ background-position: -756px -324px;}

/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/
.WaDru_Bz
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.WaDru_Ka
{
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

/* INPUT TEXT CLRS */
.KeDru_MiPo
{
	color: rgb(255, 160, 0 );
 	background-color:rgb(96,96,96)
}

/*@@@@@@@@@@@@@@@
TEXT
@@@@@@@@@@@@@@@*/

/* TEXT__TITLE_BAR */
.BriDzVa
{
	margin: 0.0rem auto;
	padding: 0.0rem;

	/* PREVENT LINE WRAP */
	white-space:nowrap;
}


/* TEXT__TITLE_WORDSIZE */
.BriDzGy
{
	font-size: 2.0rem;
}

/* TEXT__APP_VERSION */
.BriDzDa
{
	display: block;
	text-align:center;
	margin: 0.0rem;
	padding: 0.0rem;
	color: rgb( 192, 192, 192 );
}

/* TEXT__MENU_TITLE --------------------------------- */
.HriNzVa
{
	display: block;
	flex-grow: 1;

	padding: 0.0rem;
	margin: 0.0rem;

	text-align:center;
	font-weight:bold;
	transition: background .3s, color .3s;

	color: #AAA;
	background-color: #4448;
}

/* TEXT__MENU_HOVER */
.HriNzVa:hover
{
	font-size: 1.5rem;
}

/* TEXT__MENU_SELECTED */
.HriNzVa_Se
{
	color: #FFF;
	background-color: #0008;
	font-size: 1.25rem;
}

/* TEXT__MENU_TITLE---WIDE */
@media (min-aspect-ratio: 1/1)
{
	.HriNzVa
	{
		width: 16.67%;
		border-radius:1.5rem 1.5rem 0 0;
		border: solid 0.125rem #FFF;
	}
	.HriNzVa_Se
	{
		border-bottom:none;
	}
}

/* TEXT__MENU_TITLE---TALL */
@media (max-aspect-ratio: 1/1)
{
	.HriNzVa
	{
		width: 100%;
		border-radius: 1.5rem 0 0 1.5rem;
		border: solid 0.125rem #FFF;
	}
	.HriNzVa_Se
	{
		border-right: none;
	}
}

/* TEXT__ITEMS---------------------------------------------------- */

/* TEXT__LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align:left;
	color: #FFF;
	background-color: #0008;
}

/* TEXT__INDEX */
.HriNeVx
{
	display: inline-flex;
	text-align:left;
	color: #888;
	background-color: #0008;
	margin: 0.0rem;
	padding: 0.0rem;

	accent-color: #D22F;
}

/* TEXT__TYPING_INPUT */
input[type=text], select
{
	display: inline-flex;
	width: 100%;
	/* 16rem; */

	margin: 0.25rem;
	padding: 0.5rem 1.0rem;

	border-radius: 1.5rem;
	border: 0.125rem solid #FFF;

	color: #FFF;
	background-color: #444F;
}

/* TEXT__NOT_IN_USE */
.HriNe_TraHo
{
	color: #D22F;
	background-color: #DDDF;
}
/* TEXT__FADED__NOT_IN_USE */
.HriNe_HryHo
{
	color: #0008;
	background-color: #8888;
	filter: brightness( 25% );
}

/* TEXT__BTN */
.HriNe_Tra
{
	display: inline-flex;
	text-align:center;

	border-radius: 1.5rem;
	border: 0.125rem solid #FFF;

	margin: 0.25rem;
	padding: 0.25rem;

	color: #FFF;
	background-color: #6668;
}

/* TEXT__LAUNCH_BTN */
.HriNe_TraKwi
{
	display: inline-flex;
	text-align:center;
	color: #FFF;
	background-color: #0000;

	margin: 0.25rem;
	padding: 0.25rem;
}

/* TEXT__LIST ELEMENTS */
.HriNeTi
{
	display: inline-flex;
	text-align:left;
	color: #000;
	background-color: #BBB8;
}

/* TEXT__DOCUMENT HEADER */
.KeDruBz
{
	display: inline-block;
	text-align:center;

	color: #FFF;
	background-color: #000F;
}

/* TEXT__DOCUMENT BODY */
.KeDruKa
{
	display: block;
	text-align:left;

	margin: 1.0rem;
	padding: 1.0rem;

	color: #FFF;
	background-color: #000F;

	overflow-x: none;
	overflow-y: scroll;

	max-height: 12.0rem
}

/* TEXT__DBG ERR */
.TrxKz
{
	font-size: 1.5rem;
	text-align:center;
}

/*@@@@@@@@@@@@@@@
ELEMENTS
@@@@@@@@@@@@@@@*/

/* IMAGE LOGO */
.Kwi00__BriDzJaPo
{
	position: relative;
	/* z-index: 2; */

	height: 4.0rem;
	margin: 0.125rem 0.5rem;
	padding: 0.0rem;

	border-radius: 2.0rem;
	border: 0.125rem solid #FFFF;
}

/* EMOJI SELECTOR */
.NiJaPo_HryKu
{
	display: grid;
	grid-template-columns: 8.0rem calc( 100% - 8.0rem);
	place-items: stretch stretch;

	width: 100%;
	height: 8.0rem;

	margin: 0.25rem;
	padding: 0.0rem;
}

/* AVATAR CURRENT */
.NiJaPo_Fe
{
	display: block;
	place-items: center center;
	text-align: center;

	font-size: 6.0rem;
	width: 100%;
	height: 8.0rem;

	margin: 0.0rem;
	padding: 0.0rem;
}

/* EMOJI SELECTOR */
.NiJaPo_NeKu
{
	display: inline-flex;
	flex-wrap: wrap;

	width: 100%;
	height: 8.0rem;

	overflow-x: none;
	overflow-y: scroll;

	margin: 0.0rem;
	padding: 0.0rem;

}
/* EMOJI LIST */
.NiJaPo_Va
{
	font-size: 2.0rem;
	margin: 0.0rem;
	padding: 0.0rem;
	text-align: center;

	background-color: #0000;
	filter: grayscale( 85% );

	/* background-color: #D22;
	border-radius: 0.0rem;
	border: 0.125rem solid #0F0; */
}
.NiJaPo_Va:Hover
{
	background-color: #FFF;
	filter: grayscale( 0% );
	transition: 1.0s;
}

/* BTN SUBMIT ===> LAUNCH BTN RED */
input[type=submit]
{
	display: inline-flex;
	position: relative;

	width: calc( 100% - 1.0rem );
	height: 2.5rem;

	border-radius: 1.5rem;
	border: 0.1rem solid #FFF;
	background-color: #D22;

	font-size: 1.25rem;
	text-align: center;
}
/* HOVER BG Po ==> GREEN */
input[type=submit]:hover
{
	background-color: #2A2;
}

/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/
.KaHyHo input
{
	opacity: 0;
	width: 0;
	height: 0;

	border-radius: 0.0rem;
	margin: 0.0rem;
	padding: 0.0rem;
}

.KaHyHo
{
	position: relative;
	display: inline-block;
	width: 3.0rem;
	height: 1.5rem;
}

/* ELLIPSE BAR BG SHP */
.VuHyHo
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 1.5rem;

	border-radius: 0.0rem;
	margin: 0.0rem;
	padding: 0.0rem;

	/* CHECKBOX GREY BG */
	background-color: #666F;
	transition: 0.5s;
	border-radius: 1.5rem;
}

/* CHECKBOX CIRCLE INDICATOR */
.VuHyHo:before
{
	position: absolute;
	content: "";

	width: 1.5rem;
	height: 1.5rem;

	left: 0.0rem;
	bottom: 0.0rem;

	/* CHECKBOX CIRCLE  INDICATOR*/
	background-color: #DDD;
	transition: 0.5s;
	border-radius: 50%;
}

input:checked + .VuHyHo
{
	/* CHECKBOX RED BG */
	background-color: #D22;
}

input:focus + .VuHyHo
{
	/* GLOW */
	box-shadow: 0 0 1.0rem #FFF;
}

input:checked + .VuHyHo:before
{
	transform: translateX( 1.5rem );
}


/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
