/* ==================== */
/* DOC */
/* ==================== */
html
{
	body,a,p,span,h1,h2,h3,h4,h5
	{
		font-family: sans-serif
	};
	box-sizing:border-box;
}*,*:before,*:after{box-sizing:inherit}

body
{
	width:  100%;
	height: 100%;
	margin: 0;
    padding: 0;

	min-height:0;
	overflow:auto;

	font-size: calc(15px + 0.390625vw);
	/* font-size: clamp( 2rem, 5vw+1rem, 7rem ); */
    font-size:100%;
}

/* ==================== */
/* NAVI */
/* ==================== */
.Dx__NBAR
{
	overflow: hidden;
	background-color: #333;
	opacity: 0.9;
}

.Dx__NBAR a
{
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
	font-size: 1em;
  }

.active
{
	background-color: #666;
	color: white;
}

.Dx__NBAR .Dx__MOBILMENU
{
	display: none;
}

.Dx__NAREA
{
	float: left;
	overflow: hidden;
}

.Dx__NAREA .Dx__NCAT
{
	font-size: 1em;
	border: none;
	outline: none;
	color: white;
	padding: 1em 1em;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.Dx__NLST
{
	display: none;
	position: absolute;
	background-color: black;
	min-width: 10em;
	box-shadow: 0em 1em 1em 0em rgba(0,0,0,0.2);
	z-index: 1;
}

.Dx__NLST a
{
	float: none;
	color: black;
	padding: 1em 1em;
	text-decoration: none;
	display: block;
	text-align: left;
}

.Dx__NBAR a:hover, .Dx__NAREA:hover .Dx__NCAT
{
	background-color: #A11;
	color: white;
}

.Dx__NLST a:hover
{
	background-color: #A11;
	color: white;
}

.Dx__NAREA:hover .Dx__NLST
{
	display: block;
}


/* ==================== */
/* MEDIA_LAYOUT */
/* ==================== */
@media screen and (max-width: 800px)
{
	.Dx__NBAR a:not(:first-child), .Dx__NAREA .Dx__NCAT
	{
	  display: none;
	}

	.Dx__NBAR a.Dx__MOBILMENU
	{
	  float: right;
	  display: block;
	}


	.Dx__NBAR.responsive {position: relative;}
	.Dx__NBAR.responsive .Dx__MOBILMENU
	{
	  position: absolute;
	  right: 0;
	  top: 0;
	}

	.Dx__NBAR.responsive a
	{
	  float: none;
	  display: block;
	  text-align: left;
	}

	.Dx__NBAR.responsive .Dx__NAREA {float: none;}
	.Dx__NBAR.responsive .Dx__NLST {position: relative;}
	.Dx__NBAR.responsive .Dx__NAREA .Dx__NCAT
	{
	  display: block;
	  width: 100%;
	  text-align: left;
	}
}


/* ==================== */
/* DOC_LAYOUT */
/* ==================== */
.Dx__TITLE
{
	text-align: center;
	display: block;
	background-color: #222;
	margin: 0;
	padding: 0.33em;
	opacity: 0.8;
}

.Dx__BODY
{
	cursor: pointer;
	color: white;
	background-color:#000;

	position: absolute;
	top:0px;
	min-height: 0;
}

.Dx__BOX
{
	border: 4px solid;
	color: white;
	background-color: rgba(0.1, 0.1,0.1, 0.6 );

	/* width:fit-content; */
	/* width: 100%; */
	margin: 0.5em;
	padding: 0.5em;
}

.Dx__BG
{
	cursor: crosshair;
	display:block;
	padding:0;

	position: fixed;
	top:0px;
	left:0px;

	width:100%;
	height:100%;
	z-index: -1;
}

.Dx__TOPIC
{
	/* border: 4px solid #fff; */
	/* takes the remaining height of the "container" div */
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap:wrap;

	/* display:block; */

	width: 100vw;
	/* fallback height */
	min-height:100vh;
	/* new small viewport height for modern browsers */
	min-height:100svh;

	overflow-x: hidden;
	overflow-y: auto;
	background: transparent;
}

.Dx__OVERLAY
{
	height: auto;
	overflow: auto;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.Dx__TXT
{
	/* border: 4px solid #00f; */

	cursor: text;
	display: inline-block;

	opacity: 1.0;
	overflow:auto;

	padding-left:1em;
	padding-right:1em;
}

.Dx__DIAGRAM
{
	/* border: 4px solid #f00; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.Dx__NOTE
{
	max-width: 12em;
}

.Dx__MEDIA
{
	border: 4px solid #000;
	cursor: grab;
	display: block;

	opacity: 1.0;
	overflow: auto;

	padding: 0 0;
	max-width: 75%;
	min-width: 480px;

	height: auto;
	width: auto;

	margin-left: auto;
	margin-right: auto;

}

.Dx__BTN
{
	background-color: rgba(0.1, 0.1,0.1, 1.0 );
	border:none;
	/* border-radius:25%; */
	color:#fff;

	display: block;
	width: 100%;

	padding: 0.5em 0.5em;

	text-align: left;
	text-decoration:none;
    font-size:100%;
}
.Dx__BTN:hover
{
	background-color: #A11;
    font-size: 133%;
}

.Dx__LEFT{ position:absolute;bottom: 15%;left:0%; }
.Dx__RIGHT{ position:absolute;bottom: 15%;right:0%; }

.Dx__TOPIC_GUI
{
	background-color: rgba(0.1,0.1,0.1, 0.4 );
	opacity:0.4;

	border:none;
	border-radius:25%;
	color:#fff;

	font-size: 200%;
	display: inline-block;
	padding: 0.25em 0.25em;
	margin: 0.25em;

	outline:0;
	overflow:hidden;
	position: fixed;

	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	white-space:nowrap;
}

.Dx__TOPIC_GUI:hover
{
	background-color: rgba(0.1, 0.1,0.1, 1.0 );
	opacity:1.0;
}


/* ==================== */
/* TABLES */
/* ==================== */

.Dx__TEDGE
{
	border: 4px solid;
	background-color:  rgba(0.1, 0.1,0.1, 0.6 );
}

.Dx__TBL
{
	display: table;
	border: none;
	color: white;
	background-color: rgba(0.1, 0.1,0.1, 0.6 );

	width:100%;
	margin: 0em;
	padding: 0em;
}

.Dx__DNLOAD, .Dx__DISABLE
{
	vertical-align:middle;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;

	background-color: rgba(0.5, 0.5,0.5, 0.6 );
	color: white;
}

.Dx__DNLOAD
{
	cursor:grab;
	opacity: 1.0;
}
.Dx__DNLOAD:hover
{
	background-color:#A11;
	font-size: 125%;
}

.Dx__DISABLE
{
	cursor:not-allowed;
	opacity:0.4
}
.Dx__DISABLE:hover
{
	box-shadow:none;
}

/* ==================== */
/* LINKS */
/* ==================== */
.Dx__LNK
{
	background-color: transparent;
	color: yellow;
	/* width: 100%; */
	font-size: 85%;
	margin: 0.5em;
	padding: 0.5em;
}


/* ==================== */
/* ANIMATION */
/* ==================== */
.Dx__FADE_IN{ animation:fading 4s }
@keyframes fading{0%{opacity:0} 67%{opacity:50} 100%{opacity:1}}


/* ==================== */
/* ICONS */
/* ==================== */
.GwzHu{	zoom: 0.5;}
.GwzHi{	zoom: 2.0;}

.GwzDoVo, .GwzDo
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo03__GwzDoVo.png);
	background-color:transparent;
	background-repeat:no-repeat;
	display: inline-block;

	height: 108px;
	width: 108px;
}

.GwzDoPo, .GwzDo:hover
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo02__GwzDoPo.png);
	background-color:transparent;
	background-repeat:no-repeat;
	display: inline-block;

	/* background-size: 108px 108px; */
	height: 108px;
	width: 108px;
}

/* ROW 0 */
.GwzDo_WIN:hover{ background-position: 0px 0px;}
.GwzDo_IOS:hover{ background-position: -108px 0px; }
.GwzDo_MAC:hover{ background-position: -216px 0px;}
.GwzDo_DRD:hover{ background-position: -324px 0px;}
.GwzDo_LNX:hover{ background-position: -432px 0px;}

.GwzDo_WIN{ background-position: 0px 0px;}
.GwzDo_IOS{ background-position: -108px 0px; }
.GwzDo_MAC{ background-position: -216px 0px;}
.GwzDo_DRD{ background-position: -324px 0px;}
.GwzDo_LNX{ background-position: -432px 0px;}


/* ROW 1 */
.GwzDo_CCPA{ background-position: 0px -108px;}
.GwzDo_SPIRV{ background-position: -108px -108px; }
.GwzDo_VK{ background-position: -216px -108px;}
.GwzDo_CURL{ background-position: -324px -108px;}

.GwzDo_CCPA:hover{ background-position: 0px -108px;}
.GwzDo_SPIRV:hover{ background-position: -108px -108px; }
.GwzDo_VK:hover{ background-position: -216px -108px;}
.GwzDo_CURL:hover{ background-position: -324px -108px;}

/* ROW 2 */
.GwzDo_BULLET{ background-position: 0px -216px;}
.GwzDo_INTEL{ background-position: -108px -216px; }
.GwzDo_AMD{ background-position: -216px -216px;}
.GwzDo_ARM{ background-position: -324px -216px;}
.GwzDo_RISCV{ background-position: -432px -216px;}

.GwzDo_BULLET:hover{ background-position: 0px -216px;}
.GwzDo_INTEL:hover{ background-position: -108px -216px; }
.GwzDo_AMD:hover{ background-position: -216px -216px;}
.GwzDo_ARM:hover{ background-position: -324px -216px;}
.GwzDo_RISCV:hover{ background-position: -432px -216px;}

/* ROW 3 */


/* ROW 4 */
.GwzDo_ROCKET{ background-position: 0px -432px;}
.GwzDo_COMP{ background-position: -108px -432px; }
.GwzDo_A{ background-position: -216px -432px;}
.GwzDo_B{ background-position: -324px -432px;}
.GwzDo_C{ background-position: -432px -432px;}

.GwzDo_ROCKET:hover{ background-position: 0px -432px;}
.GwzDo_COMP:hover{ background-position: -108px -432px; }
.GwzDo_A:hover{ background-position: -216px -432px;}
.GwzDo_B:hover{ background-position: -324px -432px;}
.GwzDo_C:hover{ background-position: -432px -432px;}

/* ROW 5 */

.GwzDo_CONFIRM{ background-position: -756px -540px;}
.GwzDo_CONFIRM:hover{ background-position: -756px -540px;}

/* ROW 6 */
.GwzDo_CANCEL{ background-position: 0px -648px;}
.GwzDo_CANCEL:hover{ background-position: 0px -648px;}

/* ROW 7 */


/* ==================== */
/* END */
/* ==================== */
