/* !!!!!!!!!!!!!!!!!!
IMPORT rules must appear at the top, before any style declaration
RULES MATCHED by ORDER in CSS file here, no 'class order'!
!!!!!!!!!!!!!!!!!!!!!!!

@@@@@@@@@@@@@@@
CSS BEGIN
--------------
TAGS
aria: accesibility labels
.class comma: matches (OR)
plus: match ADJACENT
>: match ALL children
A ~ B: match ALL elm w/ A AND B
space: nested lf to rt inside
 ::before ::after insert content before/after an element
--------------
ATTR:
Sides: top, right, bottom left
Corners: top-left, top-right, bottom-right, bottom-left
--------------
DESIGN:
3 MODES
--------------
MxPo_Kwi: Menu & Topic-GUI to edit
MxPo_Trx:
MxPo_Bri
@@@@@@@@@@@@@@@ */


/*@@@@@@@@@@@@@@@
SHARED
@@@@@@@@@@@@@@@*/
:root
{
	/* COLOR */
	--PoStz: #0000;
	--PoStzFz: #0002;
	--PoStzVo: #0008;
	--PoStzDe: #000A;
	--PoStzSpo: #000F;

	--PoKuSta: #222A;

	--PoKuHu: #0008;
	--PoKuSteVo: #4448;
	--PoKuSteSpo: #444F;

	/* Section Line */
	--PoKuStuVo: #6668;

	--PoBre: #888;
	--PoBreHu: #8884;
	--PoBreVo: #8888;
	--PoBreSpo: #888F;

	--PoTraFra: #999;

	--PoTraFre: #CCC;

	--PoKuTo: #DDDE;

	--PoSi: #FFF;
	--PoSiSpo: #FFFF;

	/* ALERT */
	--PoSmu: #D22;
	--PoSmuSe: #2A2;


  	/* SIZE */
	--GyGe_MoKu: 42ch;
	--GyGe_ToKu: 96ch;

	--GyStz: 0.0rem;
	--GyBe:0.125rem;
	--GyBo:0.25rem;
	--GyBi:0.50rem;

	--GyTreHu:0.875rem;
	--GyTreDe:1.0rem;
	--GyTreHi:1.25rem;

	--GyKaHu:1.5rem;
	--GyKaDe:2.0rem;
	--GyKaHi:3.0rem;
	--GyKyHu:4.0rem;


	/* LINES */
	--GwxSpo: solid;
	--GwxKwo: dotted;

	/* TIMING */
	--GiHu: 0.5s;
	--GiDe: 1.0s;
}


/* SEMANTIC AREAS tight PACKING */
header
, nav
, main
, footer
{
	margin: var(--GyStz);
	padding: var(--GyStz);
}

/*@@@@@@@@@@@@@@@
ANCESTOR
@@@@@@@@@@@@@@@*/
*
{
	/* content-box WIDTH/HEIGHT ignore padding, margin, & border */
	/* border-box  WIDTH/HEIGHT ignore margin only */
	box-sizing: border-box;
	overflow: hidden;

	border-radius: var(--GyStz);
	margin: var(--GyStz);
	padding: var(--GyStz);

	/* content-visibility: auto; */
	font-size: 1.0rem;
	/* font-display: block; */

	color: var(--PoSiSpo);
	background-color: var(--PoStz);

	/* SLIDER & RADIO CLR	*/
	accent-color: var(--PoSmu);
}


.Wa
{
	border-radius: 1.5rem;
	margin: var(--GyBo);
	padding: var(--GyBo);
}

/*@@@@@@@@@@@@@@@
FONT
@@@@@@@@@@@@@@@*/

.WaDru_SmuHi
{
	font-family: "Final Frontier Old Style", sans-serif;
}

.WaDru_Bz
{
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.WaDru_De,
.WaDru_Py
{
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.WaDru_Ku
{
	/* Provides FLAGS that show correctly on Win11 and don't lag on Apple */
	font-family: "Segoe UI Emoji", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*@@@@@@@@@@@@@@@
CURSOR TYPES
@@@@@@@@@@@@@@@*/
/*
cursor: all-scroll;
cursor: cell;
cursor: copy;
cursor: crosshair;

cursor: default;
cursor: grab;
cursor: help;
cursor: move;

cursor: no-drop;
cursor: none;
cursor: not-allowed;
cursor: pointer;

cursor: text;
cursor: wait;
cursor: zoom-in;
cursor: zoom-out;
*/

/*@@@@@@@@@@@@@@@
ICONS
@@@@@@@@@@@@@@@*/
.GwzHu{	zoom: 0.5;}

/* CLR ICONS */
.GwzDoPo
{
	background: url( ../../Mx01__SuKz_MEDIA/SuKz02_JaPo__PICT/JaPo02__GwzDoPo.png);
	background-repeat:no-repeat;

	margin: var(--GyStz);
	padding: var(--GyStz);
	border-radius: var(--GyStz);

	height: 108px;
	width: 108px;
}

/* ROW 0 */
.GwzDo_WIN { background-position: 0px 0px;}
.GwzDo_IOS { background-position: -108px 0px;}
.GwzDo_MAC { background-position: -216px 0px;}
.GwzDo_DRD { background-position: -324px 0px;}
.GwzDo_LNX { background-position: -432px 0px;}

.GwzDo_ESRB { background-position: -540px 0px;}
.GwzDo_PEGI { background-position: -648px 0px;}
.GwzDo_GDPR { background-position: -756px 0px;}
.GwzDo_CCPA { background-position: 0px -108px;}

.GwzDo_BULLET { background-position: 0px -216px;}

.GwzDo_NET { background-position: -108px -324px;}
.GwzDo_SECURITY { background-position: -216px -324px;}
.GwzDo_GLOBAL { background-position: -324px -324px;}

/* ROW 3 */
.GwzDo_STORAGE { background-position: -432px -324px;}
.GwzDo_SPEED { background-position: -540px -324px;}
.GwzDo_BATTERY { background-position: -648px -324px;}
.GwzDo_PLUG { background-position: -756px -324px;}

/*@@@@@@@@@@@@@@@
AREA TYPES
- Not Panels nor Status Bars
- Fullpage or Screen as Canvas spaces
@@@@@@@@@@@@@@@*/
.KuJy00__Gry
{
	left: 0dvw;
	top: 0dvh;

	width: 100dvw;
	height: 100dvh;
}

.KuJy01__SpoKz
{
	display: block;
	position: absolute;

	border-radius: var(--GyStz);
	border: none;

	color: var(--PoSiSpo);
	background-color: var(--PoKuSteSpo)
}

.KuJy02__MxPo
{
	left: 0dvw;
	top: 1.5rem;

	width: 100dvw;
	height: calc( 100dvh - 3.0rem);

	image-rendering: auto;
	/* PIXEL ART*/
	/* image-rendering: pixelated; */
	/* HIGH CONTRAST */
	/* image-rendering: crisp-edges; */
	/* SMOOTH */
}

/*@@@@@@@@@@@@@@@
STATUS BARS
@@@@@@@@@@@@@@@ */
.KeMe_De
{
	left: 0dvw;
	width: 100dvw;
	height: 1.5rem;

	text-align: start;
	align-items: center;

	font-size: var(--GyTreHi);
}

.KeMe_Bz
{
	top: 0dvh;
}

.KeMe_Bo
{
	top: calc(100dvh - 1.5rem);
}


/*@@@@@@@@@@@@@@@
TOOLTIPS
@@@@@@@@@@@@@@@*/

/* BUBBLE TEXT */
.KeMe_To
{
	cursor: pointer;
	position: relative;

	margin: 0.5rem;
	padding: 0.5rem;

	overflow: visible;

	color: var(--PoKuSteSpo);
	background-color: var(--PoKuTo);

	border-radius: 1.5rem;

	font-size: 0.75rem;
	white-space: pre-wrap;
	text-align: center;

	width: fit-content;
	height: fit-content;
	min-width: 8rem;

	opacity: 1.0;
}

/* TRIANGLE GUIDE */
.KeMe_To::before
{
	content: " ";
	position: absolute;

	padding: var(--GyStz);
	margin: var(--GyStz);

	/* use 0 for width/height to make border diagonal for triangle */
	width: var(--GyStz);
	height: var(--GyStz);
	border-radius: var(--GyStz);
	border-style: solid;

	/* Triangle Size & Location */
	border-width: 0.5rem;
	inset-inline-start: 1.5rem;
	/* -2.0 * Self Border-Width */
	inset-block-end: -1.0rem;

	/* Top Border ONLY faces down */
	border-color: var(--PoKuTo) transparent transparent transparent;
}



/*@@@@@@@@@@@@@@@
PANELS
@@@@@@@@@@@@@@@*/

/* PANEL__OUTER_TOPIC */
.Ku00__KaFz
{
	display: block;
	position: absolute;
	z-index: 1;

	/* Use 1.5 instead of 3 because DBG Bars */
	left: 1.5rem;
	top: 3.0rem;
	border-radius: 1.5rem;
	padding: 1.0rem;

	/* CONSIDER 'DBG' BARS, only 'width' since Trx needs expand for centering */
	width: calc( 100dvw - 3.0rem );
	max-height: calc( 100dvh - 6.0rem );

	background-color: var(--PoStzDe);
	border: solid var(--GyBe) var(--PoBre);

	/* ALLSCROLL ALL TOPIC AREA*/
	overflow: auto;
}

/* PANEL__TITLE_BAR */
.Ku01_BzVa_GeBre
{
	display: flex;
	flex-wrap: wrap;

    justify-content: center;
    align-items: center;

	/* width: fit-content; */
	margin: 1.0rem var(--GyBo);
	padding: var(--GyBo);
}

/* PANEL_GUI ---------------------- */
.Ku01__HriNe
{
	position: relative;
	z-index: 4;

	display: block;

	/* display: grid;
	gap: var(--GyStz);
	grid-template-columns: 16.0rem auto; */
}

/* PANEL__MENU TABS --------------------------------- */
.Ku02__HriNzVa
{
	background-color: var(--PoStz);
	border-radius: var(--GyStz);
	margin: var(--GyStz);

	display: flex;
	flex: auto;
	flex-wrap: nowrap;
	place-items: stretch stretch;

	/* min-height: 4.0rem; */
	/* min-height: fit-content; */

	/* 0 bottom to align with topic section */
	padding: 0.5rem var(--GyStz) var(--GyStz) var(--GyStz);
}

/* PANEL_ALL_CHOICES ---------------------- */
.Ku03__NzKwa
{
	border-radius: 1.5rem;
	background-color: var(--PoStzVo);

	/* 0 to align with topic section */
	margin: var(--GyStz);
	padding: var(--GyStz);

	/* ALLSCROLL ALL TOPIC AREA*/
	/* max-height: calc( 100dvh - 23.5rem );
	overflow: auto; */

	/* NEGATIVE PAD THROWS ERR */
	/* padding: var(--GyStz) -0.5rem; */
	padding: var(--GyStz);

	/* TL TR BR BL */
	border-radius: var(--GyStz) var(--GyStz) 1.5rem 1.5rem;

	border-left: solid var(--GyBe) var(--PoSi);
	border-right: solid var(--GyBe) var(--PoSi);
	border-top: none;
	border-bottom: solid var(--GyBe) var(--PoSi);

	margin-left: var(--GyStz);
	margin-right: var(--GyStz);
}


/* PANEL__TOPIC_CHOICES ----------------------------- */
.Ku04__MoKu
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat( auto-fill, minmax( var( --GyGe_MoKu ), 1fr ));

	overflow-y: auto;
}

.Ku04__ToKu
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat( auto-fill, minmax( var( --GyGe_ToKu ), 1fr ));

	overflow-y: auto;
}


/* PANEL__VERSION */
.Ku05_KwiBriDz_ToGyHu
{
	margin: var(--GyBo);
	padding: var(--GyBo);
}

/*@@@@@@@@@@@@@@@
TEXT
@@@@@@@@@@@@@@@*/

/* TEXT__TITLE_WORDSIZE */
.BriDz_FzVa
{
	font-size: 3.0rem;
	text-align: center;
	margin: 0rem var(--GyBo);
}

/* TEXT__INFO_SMALL */
.BriDz_ToGyHu
{
	font-size: 75%;

	display: block;
	text-align:center;
	margin: var(--GyBe);
	padding: var(--GyStz);
	color: var(--PoTraFre);
}

/* TEXT__DBG ERR */
.BriDz_TrxKz
{
	font-size: 1.25rem;
	text-align: center;
}

/* TEXT_GOAL__VERTICAL*/
.BriDz_Sz
{
	display: inline-flex;
	font-size: 75%;

	padding: var(--GyBe);

	width: fit-content;
	height: fit-content;

	writing-mode: vertical-lr;
	/* text-orientation: upright; */
}


/* TEXT__ICON --------------------------------------*/
.JaPoJy
{
	margin: var(--GyStz);
	padding: var(--GyStz);
}

/* TEXT__MENU_TITLE --------------------------------- */
.NzVa
{
	display: flex;
    justify-content: center;
    align-items: center;

	padding: 0.5rem;
	margin: var(--GyStz);
	margin-top: 1.0rem;
	width: stretch;

	color: var(--PoTraFra);
	background-color: var(--PoKuSteVo);
	border: solid var(--GyBe) var(--PoSi);
	border-radius:1.5rem 1.5rem 0 0;

	transition: var(--GiHu);
}

/* TEXT__MENU_TITLE---HOVER PTR  */
.NzVa:hover
/* TEXT__MENU_TITLE---FOCUS KEY */
, .NzVa:focus
{
	font-size: 1.25rem;
	outline: none;
	box-shadow: 0 -0.5em 1.0rem var(--PoTraFre);
}

/* TEXT__MENU_SELECTED */
.NzVa_Se
{
	color: var(--PoSi);
	background-color: var(--PoKuHu);

	box-shadow: 0 -0.5em 0.5rem var(--PoTraFra);

	font-size: 1.125rem;
	outline: none;
	transition: var(--GiHu);
	border-bottom:none;

}

/* TEXT__ITEMS--------------------------------------------- */

/* TEXT__SECTION_INDEX */
.HriNeVx
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	text-align: start;
	color: var(--PoBre);
	background-color: var(--PoKuSta);

	border-radius: 1.0rem;

	border-left: none;
	border-right: none;
	border-top: solid var(--GyBe) var(--PoKuSteSpo);
	border-bottom: none;

	margin: 0.50rem;
	padding: var(--GyBo);
}

/* TEXT__LABELS */
.HriNeVa
{
	display: inline-flex;
	text-align: start;
	color: var(--PoSi);

	padding: var(--GyBo) 1.0rem;
	margin: var(--GyBo) var(--GyStz);

	background-color: var(--PoStzFz);
}

/* TEXT__LIST_ELEMENTS */
.HriNeTi
/* TEXT__TYPING_INPUT */
, .KeDru_MiPo
, .HriNe_Tra
{
	display: inline-flex;
	text-align: start;

	margin: var(--GyBo) var(--GyBe);
	padding: var(--GyBo) 1.00rem;

	color: var(--PoSi);
	background-color: var(--PoKuSteSpo);

	border-radius: 1.5rem;
	border: solid var(--GyBe) var(--PoSi);
}

/* TEXT__BTN */
.HriNe_Tra
{
	text-align:center;
	margin: var(--GyBo);
	padding: var(--GyBo) 0.75rem;
}

/* GLOW ON HOVER */
.TreHy:hover
{
	box-shadow: 0.0 0 1.0rem var(--PoSi);
}

/* GLOW FOCUS */
.TreHy:focus
{
	box-shadow: 0 0 1.0rem var(--PoTraFra);
}

/* TEXT__DOCUMENT HEADER */
.KeDruBz
{
	font-size: 1.33rem;
}

/* TEXT__SECTION */
.KeDruNz
{
	font-size: 1.20rem;

	margin: var(--GyBe);
	padding: var(--GyBe);
}

/* TEXT__DOCUMENT BODY */
.KeDruBa, .KeDruBe
{
	font-size: var(--GyTreHu);
	white-space: pre-wrap;
	max-width: calc( 100% - 1.0rem );

	margin: 0.50rem;
	padding: 0.50rem;

	background-color: var(--PoKuHu);

	overflow-y: auto;
}

/* TEXT__DOCUMENT COLUMNS */
.KeDruBe
{
	/* Requires BLOCK */
	column-rule: 0.25em dotted var(--PoKuSta);
	column-width: 44ch;
	column-gap: 4ch;
}


/*@@@@@@@@@@@@@@@
ELEMENTS IMAGE GRID
@@@@@@@@@@@@@@@*/

/* SPRITE ZONE */
.TaJaPo_HryKu
{
	display: inline-flex;
	flex-wrap: wrap;

	margin: 1.0rem 0.50rem;
	padding: var(--GyStz);
}

/* SPRITE CURRENT IMAGE */
.NiJaPo_Fe
{
	display: inline-flex;
	place-items: center center;
	text-align: center;

	font-size: 6.0rem;
	width: auto;
	height: 8.0rem;

	margin: var(--GyBo);
	padding: var(--GyBo);
}

.NiJaPo_Trx
{
	display: block;
	place-items: center center;
	text-align: center;

	font-size: 6.0rem;
	width: auto;
	height: 8.0rem;

	margin: var(--GyBo);
	padding: var(--GyBo);
}

/* SPRITE SELECTOR BOX */
.NiJaPo_NeKu
{
	display: inline-flex;
	flex-wrap: wrap;

	border-radius: var(--GyStz);
	border: solid var(--GyBe) var(--PoBreSpo);

	height: 8.0rem;

	overflow-y: auto;

	margin: var(--GyBo);
	padding: var(--GyStz);
}

/* SPRITE LIST */
.NiJaPo_Va
{
	font-size: 1.925rem;
	margin: 0.075rem;
	padding: var(--GyStz);
	background-color: var(--PoStz);

	border-radius: var(--GyBo);
}

/* FLAG NOT READY */
.NiJaPo_VaRu
{
	filter: brightness( 25% );
}

 /* FLAG AVAILABLE */
.NiJaPo_VaGri
{
	padding: var(--GyBe);
}

.NiJaPo_VaGri:Hover
{
	background-color: var(--PoSi);
	transition: var(--GiDe);
}

/* OVERLAY EXACT*/
.NiJaPo_To
{
	position: absolute;
	text-align: center;

	margin: 0;
	padding: 0;
	left: 0;
	right: 100%;
	top: 0;
	bottom: 100%;
}

 /* EMOJI to GRAYSCALE */
.NiJaPo_VaVo
{
	padding: var(--GyBe);
	filter: grayscale( 80% );
}

.NiJaPo_VaVo:Hover
{
	background-color: var(--PoSi);
	filter: grayscale( 0% );
	transition: var(--GiDe);
}

/*@@@@@@@@@@@@@@@
ELEMENTS MISC
@@@@@@@@@@@@@@@*/

/* IMAGE TITLEBAR LOGOS */
.Kwi00__BriDzJaPo
{
	position: relative;
	/* z-index: 2; */

	height: 4.0rem;
	margin: var(--GyBo);
	padding: var(--GyStz);

	border-radius: 1.5rem;
	border: solid var(--GyBe) var(--PoSiSpo);
}

/* SLIDER */
/* TEXT__SECTION_INDEX */
.HriNeVo
{
	display: inline-flex;
	text-align:center;

	color: var(--PoSiSpo);
	background-color: var(--PoKuHu);

	border-radius: var(--GyStz);
	border: none;

	margin: var(--GyStz);
	padding: var(--GyStz);
}

/* BTN SUBMIT ===> LAUNCH BTN RED */
.HriNe_TraKwi
{
	font-size: 1.5rem;
	/* height: 3.0rem; */
	/* width: calc( 100% - var(--GyStz) ); */
	width:fit-content;
	min-width: 16.0rem;

	margin: var(--GyBo) 0.5rem;
	padding: var(--GyBo);

	border-radius: 1.5rem;
	border: solid var(--GyBe) var(--PoSi);
	background-color: var(--PoSmu);

	transition: var(--GiHu);
}

.HriNe_TraKwi:focus
{
	font-size: 2.0rem;
	outline: none;
	box-shadow: 0 0 1.0rem var(--PoSi);
}

/* BTN SUBMIT HOVER BG Po ==> GREEN */
.HriNe_TraKwi:hover
{
	background-color: var(--PoSmuSe);
	/* GLOW */
	box-shadow: 0 0 1.0rem var(--PoSmuSe );
}

/*@@@@@@@@@@@@@@@
RADIO GROUP
@@@@@@@@@@@@@@@*/
.NiGruKu
{
	display: inline-flex;
	border: solid var(--GyBe) var(--PoBreHu);

	margin: var(--GyBo);
	padding: var(--GyBo);
}

.NiGruVa
{
	color: var(--PoSiSpo);
	background-color: var(--PoStzFz);

	margin: var(--GyBo);
	padding: var(--GyBo);
}

.NiGruTi
{
	margin: var(--GyBo);
	padding: var(--GyBo);

	background-color: var(--PoStzSpo);
}

/*@@@@@@@@@@@@@@@
TOGGLE_SWITCH
@@@@@@@@@@@@@@@*/

/* INPUT special CSS */
.KaHyHo .MzHyHo
{
	width: 0;
	height: 0;

	opacity: 0;

	margin: var(--GyStz);
	padding: var(--GyStz);
}

/* CHECKBOX */
.KaHyHo
{
	width: 3.0rem;
	height: 1.5rem;

	position: relative;
	display: inline-block;
}
.KaHyHo:hover
{
	box-shadow: 0 0 1.5rem var(--PoSi);
}

/* ELLIPSE BAR BG SHP */
.VuHyHo
{
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 1.5rem;

	border-radius: var(--GyStz);
	margin: var(--GyStz);
	padding: var(--GyStz);

	/* CHECKBOX GREY BG */
	background-color: var(--PoKuStuVo);
	transition: var(--GiHu);
	border-radius: 1.5rem;
}

/* CHECKBOX CIRCLE INDICATOR */
.VuHyHo:before
{
	position: absolute;
	content: "";

	width: 1.5rem;
	height: 1.5rem;

	left: var(--GyStz);
	bottom: var(--GyStz);

	/* CHECKBOX CIRCLE  INDICATOR*/
	background-color: var(--PoTraFre);
	transition: var(--GiHu);
	border-radius: 50%;
}

.MzHyHo:checked + .VuHyHo
{
	/* CHECKBOX RED BG */
	background-color: var(--PoSmu);
}

.MzHyHo:focus + .VuHyHo
{
	/* GLOW */
	box-shadow: 0 0 1.0rem var(--PoSmu);
}

.MzHyHo:checked + .VuHyHo:before
{
	transform: translateX( 1.5rem );
}

/*@@@@@@@@@@@@@@@
ELM_FX
@@@@@@@@@@@@@@@*/

/* SECTION LINE */
hr
{
    display: block;
	border-radius: 1.0rem;

	border-left: none;
	border-right: none;
	border-bottom: solid var(--GyBe) var(--PoKuStuVo);
	border-top: none;

    margin: var(--GyStz);
    padding: 1.0rem;
}

/* ELM__NOT_IN_USE */
.HriNe_TraHo
{
	color: var(--PoSiSpo);
	background-color: var(--PoSmu);
}
/* ELM__FADED__NOT_IN_USE */
.HriNe_HryHo
{
	color: var(--PoKuHu);
	background-color: var(--PoBreVo);

	filter: blur( 4px );
	/* filter: brightness( 25% ); */

	transition: var(--GiHu)
}

.HriNe__SmoTy
{
	display:none;
}

/* @@@@@@@@@@@@@@@
CSS END
@@@@@@@@@@@@@@@ */
