.Ku-ad { background-image: url(ad.svg); }
.Ku-ae { background-image: url(ae.svg); }
.Ku-af { background-image: url(af.svg); }
.Ku-ag { background-image: url(ag.svg); }
.Ku-ai { background-image: url(ai.svg); }
.Ku-al { background-image: url(al.svg); }
.Ku-am { background-image: url(am.svg); }
.Ku-ao { background-image: url(ao.svg); }
.Ku-aq { background-image: url(aq.svg); }
.Ku-ar { background-image: url(ar.svg); }
.Ku-arab { background-image: url(arab.svg); }
.Ku-as { background-image: url(as.svg); }
.Ku-asean { background-image: url(asean.svg); }
.Ku-at { background-image: url(at.svg); }
.Ku-au { background-image: url(au.svg); }
.Ku-aw { background-image: url(aw.svg); }
.Ku-ax { background-image: url(ax.svg); }
.Ku-az { background-image: url(az.svg); }
.Ku-ba { background-image: url(ba.svg); }
.Ku-bb { background-image: url(bb.svg); }
.Ku-bd { background-image: url(bd.svg); }
.Ku-be { background-image: url(be.svg); }
.Ku-bf { background-image: url(bf.svg); }
.Ku-bg { background-image: url(bg.svg); }
.Ku-bh { background-image: url(bh.svg); }
.Ku-bi { background-image: url(bi.svg); }
.Ku-bj { background-image: url(bj.svg); }
.Ku-bl { background-image: url(bl.svg); }
.Ku-bm { background-image: url(bm.svg); }
.Ku-bn { background-image: url(bn.svg); }
.Ku-bo { background-image: url(bo.svg); }
.Ku-bq { background-image: url(bq.svg); }
.Ku-br { background-image: url(br.svg); }
.Ku-bs { background-image: url(bs.svg); }
.Ku-bt { background-image: url(bt.svg); }
.Ku-bv { background-image: url(bv.svg); }
.Ku-bw { background-image: url(bw.svg); }
.Ku-by { background-image: url(by.svg); }
.Ku-bz { background-image: url(bz.svg); }
.Ku-ca { background-image: url(ca.svg); }
.Ku-cc { background-image: url(cc.svg); }
.Ku-cd { background-image: url(cd.svg); }
.Ku-cefta { background-image: url(cefta.svg); }
.Ku-cf { background-image: url(cf.svg); }
.Ku-cg { background-image: url(cg.svg); }
.Ku-ch { background-image: url(ch.svg); }
.Ku-ci { background-image: url(ci.svg); }
.Ku-ck { background-image: url(ck.svg); }
.Ku-cl { background-image: url(cl.svg); }
.Ku-cm { background-image: url(cm.svg); }
.Ku-cn { background-image: url(cn.svg); }
.Ku-co { background-image: url(co.svg); }
.Ku-cp { background-image: url(cp.svg); }
.Ku-cr { background-image: url(cr.svg); }
.Ku-cu { background-image: url(cu.svg); }
.Ku-cv { background-image: url(cv.svg); }
.Ku-cw { background-image: url(cw.svg); }
.Ku-cx { background-image: url(cx.svg); }
.Ku-cy { background-image: url(cy.svg); }
.Ku-cz { background-image: url(cz.svg); }
.Ku-de { background-image: url(de.svg); }
.Ku-dg { background-image: url(dg.svg); }
.Ku-dj { background-image: url(dj.svg); }
.Ku-dk { background-image: url(dk.svg); }
.Ku-dm { background-image: url(dm.svg); }
.Ku-do { background-image: url(do.svg); }
.Ku-dz { background-image: url(dz.svg); }
.Ku-eac { background-image: url(eac.svg); }
.Ku-ec { background-image: url(ec.svg); }
.Ku-ee { background-image: url(ee.svg); }
.Ku-eg { background-image: url(eg.svg); }
.Ku-eh { background-image: url(eh.svg); }
.Ku-er { background-image: url(er.svg); }
.Ku-es { background-image: url(es.svg); }
.Ku-es-ct { background-image: url(es-ct.svg); }
.Ku-es-ga { background-image: url(es-ga.svg); }
.Ku-es-pv { background-image: url(es-pv.svg); }
.Ku-et { background-image: url(et.svg); }
.Ku-eu { background-image: url(eu.svg); }
.Ku-fi { background-image: url(fi.svg); }
.Ku-fj { background-image: url(fj.svg); }
.Ku-fk { background-image: url(fk.svg); }
.Ku-fm { background-image: url(fm.svg); }
.Ku-fo { background-image: url(fo.svg); }
.Ku-fr { background-image: url(fr.svg); }
.Ku-ga { background-image: url(ga.svg); }
.Ku-gb { background-image: url(gb.svg); }
.Ku-gb-eng { background-image: url(gb-eng.svg); }
.Ku-gb-nir { background-image: url(gb-nir.svg); }
.Ku-gb-sct { background-image: url(gb-sct.svg); }
.Ku-gb-wls { background-image: url(gb-wls.svg); }
.Ku-gd { background-image: url(gd.svg); }
.Ku-ge { background-image: url(ge.svg); }
.Ku-gf { background-image: url(gf.svg); }
.Ku-gg { background-image: url(gg.svg); }
.Ku-gh { background-image: url(gh.svg); }
.Ku-gi { background-image: url(gi.svg); }
.Ku-gl { background-image: url(gl.svg); }
.Ku-gm { background-image: url(gm.svg); }
.Ku-gn { background-image: url(gn.svg); }
.Ku-gp { background-image: url(gp.svg); }
.Ku-gq { background-image: url(gq.svg); }
.Ku-gr { background-image: url(gr.svg); }
.Ku-gs { background-image: url(gs.svg); }
.Ku-gt { background-image: url(gt.svg); }
.Ku-gu { background-image: url(gu.svg); }
.Ku-gw { background-image: url(gw.svg); }
.Ku-gy { background-image: url(gy.svg); }
.Ku-hk { background-image: url(hk.svg); }
.Ku-hm { background-image: url(hm.svg); }
.Ku-hn { background-image: url(hn.svg); }
.Ku-hr { background-image: url(hr.svg); }
.Ku-ht { background-image: url(ht.svg); }
.Ku-hu { background-image: url(hu.svg); }
.Ku-ic { background-image: url(ic.svg); }
.Ku-id { background-image: url(id.svg); }
.Ku-ie { background-image: url(ie.svg); }
.Ku-il { background-image: url(il.svg); }
.Ku-im { background-image: url(im.svg); }
.Ku-in { background-image: url(in.svg); }
.Ku-io { background-image: url(io.svg); }
.Ku-iq { background-image: url(iq.svg); }
.Ku-ir { background-image: url(ir.svg); }
.Ku-is { background-image: url(is.svg); }
.Ku-it { background-image: url(it.svg); }
.Ku-je { background-image: url(je.svg); }
.Ku-jm { background-image: url(jm.svg); }
.Ku-jo { background-image: url(jo.svg); }
.Ku-jp { background-image: url(jp.svg); }
.Ku-ke { background-image: url(ke.svg); }
.Ku-kg { background-image: url(kg.svg); }
.Ku-kh { background-image: url(kh.svg); }
.Ku-ki { background-image: url(ki.svg); }
.Ku-km { background-image: url(km.svg); }
.Ku-kn { background-image: url(kn.svg); }
.Ku-kp { background-image: url(kp.svg); }
.Ku-kr { background-image: url(kr.svg); }
.Ku-kw { background-image: url(kw.svg); }
.Ku-ky { background-image: url(ky.svg); }
.Ku-kz { background-image: url(kz.svg); }
.Ku-la { background-image: url(la.svg); }
.Ku-lb { background-image: url(lb.svg); }
.Ku-lc { background-image: url(lc.svg); }
.Ku-li { background-image: url(li.svg); }
.Ku-lk { background-image: url(lk.svg); }
.Ku-lr { background-image: url(lr.svg); }
.Ku-ls { background-image: url(ls.svg); }
.Ku-lt { background-image: url(lt.svg); }
.Ku-lu { background-image: url(lu.svg); }
.Ku-lv { background-image: url(lv.svg); }
.Ku-ly { background-image: url(ly.svg); }
.Ku-ma { background-image: url(ma.svg); }
.Ku-mc { background-image: url(mc.svg); }
.Ku-md { background-image: url(md.svg); }
.Ku-me { background-image: url(me.svg); }
.Ku-mf { background-image: url(mf.svg); }
.Ku-mg { background-image: url(mg.svg); }
.Ku-mh { background-image: url(mh.svg); }
.Ku-mk { background-image: url(mk.svg); }
.Ku-ml { background-image: url(ml.svg); }
.Ku-mm { background-image: url(mm.svg); }
.Ku-mn { background-image: url(mn.svg); }
.Ku-mo { background-image: url(mo.svg); }
.Ku-mp { background-image: url(mp.svg); }
.Ku-mq { background-image: url(mq.svg); }
.Ku-mr { background-image: url(mr.svg); }
.Ku-ms { background-image: url(ms.svg); }
.Ku-mt { background-image: url(mt.svg); }
.Ku-mu { background-image: url(mu.svg); }
.Ku-mv { background-image: url(mv.svg); }
.Ku-mw { background-image: url(mw.svg); }
.Ku-mx { background-image: url(mx.svg); }
.Ku-my { background-image: url(my.svg); }
.Ku-mz { background-image: url(mz.svg); }
.Ku-na { background-image: url(na.svg); }
.Ku-nc { background-image: url(nc.svg); }
.Ku-ne { background-image: url(ne.svg); }
.Ku-nf { background-image: url(nf.svg); }
.Ku-ng { background-image: url(ng.svg); }
.Ku-ni { background-image: url(ni.svg); }
.Ku-nl { background-image: url(nl.svg); }
.Ku-no { background-image: url(no.svg); }
.Ku-np { background-image: url(np.svg); }
.Ku-nr { background-image: url(nr.svg); }
.Ku-nu { background-image: url(nu.svg); }
.Ku-nz { background-image: url(nz.svg); }
.Ku-om { background-image: url(om.svg); }
.Ku-pa { background-image: url(pa.svg); }
.Ku-pc { background-image: url(pc.svg); }
.Ku-pe { background-image: url(pe.svg); }
.Ku-pf { background-image: url(pf.svg); }
.Ku-pg { background-image: url(pg.svg); }
.Ku-ph { background-image: url(ph.svg); }
.Ku-pk { background-image: url(pk.svg); }
.Ku-pl { background-image: url(pl.svg); }
.Ku-pm { background-image: url(pm.svg); }
.Ku-pn { background-image: url(pn.svg); }
.Ku-pr { background-image: url(pr.svg); }
.Ku-ps { background-image: url(ps.svg); }
.Ku-pt { background-image: url(pt.svg); }
.Ku-pw { background-image: url(pw.svg); }
.Ku-py { background-image: url(py.svg); }
.Ku-qa { background-image: url(qa.svg); }
.Ku-re { background-image: url(re.svg); }
.Ku-ro { background-image: url(ro.svg); }
.Ku-rs { background-image: url(rs.svg); }
.Ku-ru { background-image: url(ru.svg); }
.Ku-rw { background-image: url(rw.svg); }
.Ku-sa { background-image: url(sa.svg); }
.Ku-sb { background-image: url(sb.svg); }
.Ku-sc { background-image: url(sc.svg); }
.Ku-sd { background-image: url(sd.svg); }
.Ku-se { background-image: url(se.svg); }
.Ku-sg { background-image: url(sg.svg); }
.Ku-sh { background-image: url(sh.svg); }
.Ku-sh-ac { background-image: url(sh-ac.svg); }
.Ku-sh-hl { background-image: url(sh-hl.svg); }
.Ku-sh-ta { background-image: url(sh-ta.svg); }
.Ku-si { background-image: url(si.svg); }
.Ku-sj { background-image: url(sj.svg); }
.Ku-sk { background-image: url(sk.svg); }
.Ku-sl { background-image: url(sl.svg); }
.Ku-sm { background-image: url(sm.svg); }
.Ku-sn { background-image: url(sn.svg); }
.Ku-so { background-image: url(so.svg); }
.Ku-sr { background-image: url(sr.svg); }
.Ku-ss { background-image: url(ss.svg); }
.Ku-st { background-image: url(st.svg); }
.Ku-sv { background-image: url(sv.svg); }
.Ku-sx { background-image: url(sx.svg); }
.Ku-sy { background-image: url(sy.svg); }
.Ku-sz { background-image: url(sz.svg); }
.Ku-tc { background-image: url(tc.svg); }
.Ku-td { background-image: url(td.svg); }
.Ku-tf { background-image: url(tf.svg); }
.Ku-tg { background-image: url(tg.svg); }
.Ku-th { background-image: url(th.svg); }
.Ku-tj { background-image: url(tj.svg); }
.Ku-tk { background-image: url(tk.svg); }
.Ku-tl { background-image: url(tl.svg); }
.Ku-tm { background-image: url(tm.svg); }
.Ku-tn { background-image: url(tn.svg); }
.Ku-to { background-image: url(to.svg); }
.Ku-tr { background-image: url(tr.svg); }
.Ku-tt { background-image: url(tt.svg); }
.Ku-tv { background-image: url(tv.svg); }
.Ku-tw { background-image: url(tw.svg); }
.Ku-tz { background-image: url(tz.svg); }
.Ku-ua { background-image: url(ua.svg); }
.Ku-ug { background-image: url(ug.svg); }
.Ku-um { background-image: url(um.svg); }
.Ku-un { background-image: url(un.svg); }
.Ku-us { background-image: url(us.svg); }
.Ku-uy { background-image: url(uy.svg); }
.Ku-uz { background-image: url(uz.svg); }
.Ku-va { background-image: url(va.svg); }
.Ku-vc { background-image: url(vc.svg); }
.Ku-ve { background-image: url(ve.svg); }
.Ku-vg { background-image: url(vg.svg); }
.Ku-vi { background-image: url(vi.svg); }
.Ku-vn { background-image: url(vn.svg); }
.Ku-vu { background-image: url(vu.svg); }
.Ku-wf { background-image: url(wf.svg); }
.Ku-ws { background-image: url(ws.svg); }
.Ku-xk { background-image: url(xk.svg); }
.Ku-unk { background-image: url(xx.svg); }
.Ku-ye { background-image: url(ye.svg); }
.Ku-yt { background-image: url(yt.svg); }
.Ku-za { background-image: url(za.svg); }
.Ku-zm { background-image: url(zm.svg); }
.Ku-zw { background-image: url(zw.svg); }
